.site-header {
	height: 30px;
	text-align: center;
	font-size: 0;
	line-height: 0;
	background: #111;
	@include box-shadow(0 0 3px rgba(0,0,0,.5));

	.inner {
		display: inline-block;
	}

	h1,
	span {
		display: inline-block;
		padding: 0 10px;
		margin-left: 1px;
		background: black;
		font-size: 12px;
		line-height: 30px;

		&.branding {
			margin-left: 0;
		}
	}
}
