@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.svg#icons') format('svg'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-size: 80%;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icons';
	font-style: normal;
	font-size: 90%;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-left:before {
	content: "\21";
}
.icon-right:before {
	content: "\22";
}
.icon-menu:before {
	content: "\23";
}
.icon-tag:before {
	content: "\24";
}
.icon-list:before {
	content: "\25";
}
.icon-explore:before {
	content: "\26";
}
.icon-info:before {
	content: "\27";
}

