html {
	height: 100%;
	overflow-y: scroll;
}

body {
	background: image-url('noise.png');
	height: 100%;
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.site-body {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	.page {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding: $layout_header_height + 10px $layout_nav_width + 10px $layout_footer_height + 10px;
		@include box-sizing(border-box);
		@include transition(left .4s cubic-bezier(0.215, 0.610, 0.355, 1.000));

		&.previous {
			left: -100%;
		}

		&.next {
			left: 100%;
		}
	}
}

.site-nav li {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 4;

	&:first-child {
		left: 0;
	}

	&:last-child {
		right: 0;
	}
}

.site-footer {
	position: fixed;
	z-index: 3;
	width: 100%;
	bottom: 0;
	left: 0;
}
