.panel {
	overflow-y: auto;
	overflow-x: hidden; // Disable horizontal scrolling
	background: rgba(0,0,0,.8);
	display: none;
	@include transition(all .4s);
	outline: none;

	.scroller {
		overflow: hidden;
		height: 100%;
	}

	.inner-panel {
		padding: 25px 20px 20px 20px;
		@include box-sizing(border-box);
		width: $layout_panel_width;
		margin-left: -$layout_panel_width;
		@include transition(margin .4s);
	}

	.open-panel & {
		width: $layout_panel_width;

		.inner-panel {
			margin-left: 0;
		}
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 2px;
		border-bottom: 1px solid rgba(255,255,255,.5);
		margin: 0 0 0.5em 0;
		position: relative;

		&:first-child {
			margin-top: 0;
		}

		.action {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 12px;
			line-height: 16px;
			color: $color_page_text;
			background: rgba(255,255,255,.5);
			padding: 2px 4px;
			@include border-radius(2px 2px 0 0);

			&:hover,
			&:focus {
				background: $color_page_link;
			}
		}
	}

	p {
		margin-bottom: 1em;
	}

	section {
		+ section {
			margin-top: 30px;
		}

		&.copy p {
			text-align: justify;
		}
	}

	p.loading {
		text-align: center;
		font-size: 16px;
		margin-top: 50px;
	}
}
