@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,bold,400italic,bolditalic");

body {
	font-family: Ubuntu;
	color: $color_page_text;
}

a {
	color: $color_page_link;
	text-decoration: none;
}
