.viewport {
	min-width: 0;
	padding: 20px;
	text-align: center;

	// Viewport setup when js is on
	.js & {
		overflow: visible;
	}

	.push-panel & {
		left: $layout_nav_width + $layout_panel_width;
	}

	.outer-viewport {
		display: table;
		height: 100%;
		width: 100%;
	}

	.inner-viewport {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}

	// This class switches the viewport to maximise the image's height
	&.maximise-height {
		.outer-viewport,
		.inner-viewport {
			display: inline;
		}

		img {
			width: auto;
			height: 100%;
		}
	}

	// Image

	img {
		display: inline;
		width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
		border: 1px solid rgba(255,255,255,.5);
		@include box-shadow(0 0 3px rgba(0,0,0,.8));

		// Hide initially if js is on (for nice fade effect)
		.js & {
			opacity: 0;
			@include transition(opacity 1s);
			&.loaded {
				opacity: 1;
			}
		}
	}

	// Loader message
	// Should be hidden when js is enabled
	// This element is replaced by image when ready on the server

	.js & p.picture {
		display: none;
	}

	// Videos

	iframe {
		background: black;
		@include box-shadow(black 0 0 2px);
		width: 640px;
		height: 385px;
		max-width: 100%;
		max-height: 100%;
		@include transition(all .4s);
	}

	.full-screen & {
		padding: 0;
		img {
			border: none;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
