<!DOCTYPE html>
<html class="js">

<head>
	<meta charset="utf-8">
	<title>{% block page_title %}{% endblock %} - Pretty APOD Prototype</title>

	<link rel="stylesheet" href="/assets/css/screen.css">
	<link href="/assets/favicon.ico" rel="shortcut icon">
</head>

<body>

<header class="site-header" data-module="fullscreen">
	<h1>
		<a href="/wide_image" class="branding">Pretty APOD <b><b></b></b></a>
		<a href="#"><i class="icon-tag"></i> Sun <b><b></b></b></a>
		<a href="#"><i class="icon-calendar"></i> 2012 <b><b></b></b></a>
		<a href="#"><i class="icon-calendar"></i> August <b><b></b></b></a>
		Blue Moon Eclipse
	</h1>

	<div class="tools">
		<a href="{{ picture.get_apod_url }}"><i class="icon-eye-open"></i></a>
		<a href="#" data-toggle="fullscreen" class="full-screen"><i class="icon-maximise"></i><i class="icon-minimise"></i></a>
	</div>
</header>

<nav class="site-nav">
	{% block extra_nav %}
	{% endblock %}
	<ul>
		<li data-toggle="tags"><a href="/tag_cloud">
			<i class="icon-tags"></i>
			Tags
			<b><b></b></b>
		</a></li>
		<li data-toggle="about"><a href="#">
			<i class="icon-info"></i>
			About
			<b><b></b></b>
		</a></li>
	</ul>
</nav>

{% block main %}
{% endblock main %}

<div class="panel" data-module="panel scroller" id="tags" data-overlapping="true" data-load="/ajax_tags">
	<div class="inner-panel">
		<p class="loading"><i class="icon-time"></i> Loading tags&hellip;</p>
	</div>
</div>

<div class="panel" data-module="panel scroller" id="about" data-overlapping="true">
	<div class="inner-panel">
			<h2>About</h2>
			{% lorem 6 p %}
	</div>
</div>

{% jquery "1.8.1" %}
<script src="/assets/js/app.js"></script>
<script>
App = require('app');
App.init();
</script>

</body>

</html>
