/* Colors */
/* Font sizes */
/* Font faces */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,bold,400italic,bolditalic);
/* Compass extensions */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\000033}}
html {
  overflow: hidden;
  min-height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000351}}
html body {
  font-size: 75%;
  line-height: 1.333em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000355}}
html html > body {
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\000039}}
body {
  font-family: Ubuntu, sans-serif;
  background: #2e2e2e;
  color: #cccccc;
  min-width: 900px;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\0000317}}
a {
  color: #516681;
  text-decoration: none;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
a:hover {
  color: #6699ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_hover-link\.scss}line{font-family:\000034}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\000031}}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 30px;
  border-bottom: 1px solid #222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2b2b), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#2b2b2b, #000000);
  background-image: -moz-linear-gradient(#2b2b2b, #000000);
  background-image: -o-linear-gradient(#2b2b2b, #000000);
  background-image: -ms-linear-gradient(#2b2b2b, #000000);
  background-image: linear-gradient(#2b2b2b, #000000);
  -moz-box-shadow: black 0 0 10px;
  -webkit-box-shadow: black 0 0 10px;
  -o-box-shadow: black 0 0 10px;
  box-shadow: black 0 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000313}}
.toolbar .branding,
.toolbar h1 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  float: left;
  margin: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000321}}
.toolbar ul {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000360}}
.toolbar ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000327}}
.toolbar li {
  font-size: 12px;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000330}}
.toolbar li a {
  display: block;
  color: #cccccc;
  padding: 0 10px;
  border-left: 1px solid #222;
  border-right: 1px solid #000;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000337}}
.toolbar li a:hover {
  color: #fff;
  background: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\000033}}
#apod {
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  padding: 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000315}}
.js #apod {
  top: 41px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 0;
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000326}}
#apod img {
  -moz-box-shadow: black 0 0 20px;
  -webkit-box-shadow: black 0 0 20px;
  -o-box-shadow: black 0 0 20px;
  box-shadow: black 0 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000329}}
.js #apod img {
  position: absolute;
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000333}}
.js #apod img.loaded {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000344}}
.js #apod #apod-loader {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000351}}
#apod iframe {
  display: block;
  margin: 80px auto 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000355}}
.js #apod iframe {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000367}}
.details {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: url('../images/rgbapng/000000cc.png?1321543281');
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000376}}
.details header {
  padding: 0 20px;
  cursor: pointer;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000382}}
.details header:hover, .details header.open {
  background: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000386}}
.details header h2 {
  font-size: 1.333em;
  line-height: 2em;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 0 1px 2px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000394}}
.details .panel {
  border-top: 1px solid #222;
  padding: 15px 20px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\0000399}}
.js .details .panel {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\00003104}}
.details .explanation {
  float: left;
  width: 62%;
  max-width: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\00003110}}
.details .extra {
  float: right;
  width: 34%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\00003115}}
.details h3 {
  font-size: 1.167em;
  line-height: 2.286em;
  font-weight: normal;
  text-shadow: 0 1px 2px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_apod\.scss}line{font-family:\00003121}}
.details p {
  margin-bottom: 1.333em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\000033}}
div.message {
  position: relative;
  top: -300px;
  z-index: 3;
  opacity: 0;
  width: 260px;
  margin: 0 auto;
  padding: 15px;
  background: #333;
  border: 2px solid #666;
  -moz-box-shadow: black 0 0 10px;
  -webkit-box-shadow: black 0 0 10px;
  -o-box-shadow: black 0 0 10px;
  box-shadow: black 0 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000317}}
div.message.loading {
  background: #333333 url(../images/loading.gif) no-repeat 15px center;
  padding-left: 60px;
  min-height: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000324}}
div.message.open {
  opacity: 1;
  top: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000329}}
div.message p {
  font-weight: bold;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\000031}}
.page {
  position: absolute;
  top: 31px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\000039}}
.page::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000315}}
.page::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000317}}
.page::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000322}}
.page::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000328}}
.page::-webkit-scrollbar-corner {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000332}}
.page .inner-page {
  margin: 0 auto;
  width: 960px;
  padding: 50px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000338}}
.page h2 {
  font-size: 1.833em;
  line-height: 1.455em;
  margin-top: 1.333em;
  margin-bottom: 1.333em;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000348}}
.page h2:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\000031}}
.calendar {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 6px;
  empty-cells: hide;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\000038}}
.calendar th {
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000314}}
.calendar td {
  position: relative;
  width: 120px;
  height: 90px;
  vertical-align: top;
  padding: 0;
  font-size: 0.917em;
  line-height: 1.455em;
  -moz-box-shadow: #121212 1px 1px 0 inset, rgba(255, 255, 255, 0.09) 1px 1px 0;
  -webkit-box-shadow: #121212 1px 1px 0 inset, rgba(255, 255, 255, 0.09) 1px 1px 0;
  -o-box-shadow: #121212 1px 1px 0 inset, rgba(255, 255, 255, 0.09) 1px 1px 0;
  box-shadow: #121212 1px 1px 0 inset, rgba(255, 255, 255, 0.09) 1px 1px 0;
  background: #202020;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000324}}
.calendar td.empty {
  background: #252525;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000328}}
.calendar td.empty span.day {
  color: #666;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000334}}
.calendar td span.day {
  font-size: 50px;
  font-weight: bold;
  line-height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000347}}
.calendar a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 90px;
  position: relative;
  overflow: hidden;
  -moz-transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000356}}
.calendar a span {
  display: block;
  opacity: 0;
  text-align: center;
  padding: 120px 5px 5px 5px;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000364}}
.calendar a:hover {
  background: rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000367}}
.calendar a:hover span {
  opacity: 1;
  padding-top: 10px;
}
