@import "compass/css3";

$color_page_bg: #313131;
$color_page_text: #dedede;
$color_page_link: #6B7F86;
$color_page_link_active: #86846B;

$color_header_bg: #212121;

$color_nav_bg: #444;

$layout_header_height: 50px;
$layout_nav_width: 100px;

$layout_panel_width: 400px;


$fontAwesomePath: "fontawesome-webfont";