html {
	overflow-y: hidden;
}

body {
	background: $color_page_bg image-url("page-noise.png");
	color: $color_page_text;
}

.site-header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	height: $layout_header_height;
}

.site-nav {
	position: fixed;
	z-index: 4;
	left: 0;
	top: $layout_header_height;
	bottom: 0;
	width: $layout_nav_width;
}

.site-page {
	position: absolute;
	top: $layout_header_height;
	bottom: 0;
	left: $layout_nav_width;
	right: 0;
	padding: 20px;
	overflow: auto;
	min-width: 888px;
	@include box-shadow(10px 10px 10px -10px rgba(0,0,0,.5) inset);
}

.panel {
	position: fixed;
	z-index: 3;
	top: $layout_header_height;
	bottom: 0;
	left: $layout_nav_width;
	width: 0;
}