html {
	overflow-y: hidden;
	min-height: 800px;
}

body {
	background: $color_page_bg image-url("page-noise.png");
	color: $color_page_text;
	min-height: 800px;

	> * {
		opacity: 0;

		.ui-ready & {
			opacity: 1;
		}
	}
}

.site-header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	height: $layout_header_height;

	.ui-ready & {
		@include transition(all .4s);
	}
}

.site-nav {
	position: fixed;
	z-index: 4;
	left: 0;
	top: $layout_header_height;
	bottom: 0;
	width: $layout_nav_width;

	.ui-ready & {
		@include transition(all .4s);
	}
}

.site-page {
	position: absolute;
	top: $layout_header_height;
	bottom: 0;
	left: $layout_nav_width;
	right: 0;
	padding: 20px;
	overflow: auto;
	min-width: 888px;
	@include box-shadow(10px 10px 10px -10px rgba(0,0,0,.5) inset);

	.ui-ready & {
		@include transition(all .4s);
	}
}

.panel {
	position: fixed;
	z-index: 3;
	top: $layout_header_height;
	bottom: 0;
	left: $layout_nav_width;
	width: 0;
}

.full-screen {
	.site-header {
		top: - $layout_header_height;
	}

	.site-nav {
		top: 0;
		left: - $layout_nav-width;
	}

	.site-page {
		top: 0;
		left: 0;
		@include box-shadow(none);
	}

	.panel {
		left: 0;
		top: 0;
	}
}