.panel {
	overflow: auto;
	overflow-x: hidden; // Disable horizontal scrolling
	position: fixed;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: $layout_nav_width;
	width: 0;
	background: rgba(0,0,0,.8);
	display: none;
	@include transition(width 0.2s);
	outline: none;

	.inner-panel {
		padding: 25px 30px 20px 20px;
		@include box-sizing(border-box);
		width: $layout_panel_width;
		margin-left: -$layout_panel_width;
		@include transition(margin 0.2s);
	}

	.open-panel & {
		width: $layout_panel_width;
		@include transition-duration(0.4s);

		.inner-panel {
			@include transition-duration(0.4s);
			margin-left: 0;
		}
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 2px;
		border-bottom: 1px solid rgba(255,255,255,.5);
		margin: 1em 0 0.5em 0;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		margin-bottom: 1em;
	}
}
