.viewport {
	position: absolute;
	top: $layout_header_height;
	bottom: 0;
	left: $layout_nav_width;
	right: 0;
	z-index: 1;
	overflow: auto;
	padding: 20px;
	text-align: center;

	// Viewport setup when js is on
	.js & {
		overflow: visible;
		@include transition(left 0.2s);
	}

	.push-panel & {
		left: $layout_nav_width + $layout_panel_width;
		@include transition-duration(0.4s);
	}

	.outer-viewport {
		display: table;
		height: 100%;
		width: 100%;
	}

	.inner-viewport {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}

	// This class switches the viewport to maximise the image's height
	&.maximise-height {
		.outer-viewport,
		.inner-viewport {
			display: inline;
		}

		img {
			width: auto;
			height: 100%;
		}
	}

	// Image

	img {
		display: inline;
		width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
		border: 1px solid rgba(255,255,255,.5);
		@include box-shadow(0 0 3px rgba(0,0,0,.8));

		// Hide initially if js is on (for nice fade effect)
		.js & {
			opacity: 0;
			@include transition(opacity 1s);
			&.loaded {
				opacity: 1;
			}
		}
	}

	// Loader message
	// Should be hidden when js is enabled
	// This element is replaced by image when ready on the server

	p {
		.js & {
			display: none;
		}
	}

	// Videos

	iframe {
		background: black;
		@include box-shadow(black 0 0 2px);
		width: 640px;
		height: 385px;
		max-width: 100%;
		max-height: 100%;
	}
}