@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,bold,400italic,bolditalic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: #6b7f86;
  text-decoration: none;
  outline: none;
}
a:hover, a:active {
  color: #86846b;
}
p a:hover, p a:active {
  text-decoration: underline;
}

em {
  font-style: italic;
}

.site-page h2 {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin: 80px auto 10px auto;
  height: 20px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(70%, rgba(0, 0, 0, 0))) no-repeat center -10px;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: -o-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
}
.site-page h2:first-child {
  margin-top: 30px;
}
.site-page h2 span {
  display: inline-block;
  line-height: 30px;
  top: -30px;
  position: relative;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"], .nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  vertical-align: initial;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}

.icon-music:before {
  content: "\f001";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-empty:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-zoom-in:before {
  content: "\f00e";
}

.icon-zoom-out:before {
  content: "\f010";
}

.icon-off:before {
  content: "\f011";
}

.icon-signal:before {
  content: "\f012";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-file:before {
  content: "\f016";
}

.icon-time:before {
  content: "\f017";
}

.icon-road:before {
  content: "\f018";
}

.icon-download-alt:before {
  content: "\f019";
}

.icon-download:before {
  content: "\f01a";
}

.icon-upload:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-play-circle:before {
  content: "\f01d";
}

.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-volume-off:before {
  content: "\f026";
}

.icon-volume-down:before {
  content: "\f027";
}

.icon-volume-up:before {
  content: "\f028";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-text-height:before {
  content: "\f034";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-align-left:before {
  content: "\f036";
}

.icon-align-center:before {
  content: "\f037";
}

.icon-align-right:before {
  content: "\f038";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-indent-left:before {
  content: "\f03b";
}

.icon-indent-right:before {
  content: "\f03c";
}

.icon-facetime-video:before {
  content: "\f03d";
}

.icon-picture:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-adjust:before {
  content: "\f042";
}

.icon-tint:before {
  content: "\f043";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share:before {
  content: "\f045";
}

.icon-check:before {
  content: "\f046";
}

.icon-move:before {
  content: "\f047";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-eject:before {
  content: "\f052";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-screenshot:before {
  content: "\f05b";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-share-alt:before {
  content: "\f064";
}

.icon-resize-full:before {
  content: "\f065";
}

.icon-resize-small:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-asterisk:before {
  content: "\f069";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-leaf:before {
  content: "\f06c";
}

.icon-fire:before {
  content: "\f06d";
}

.icon-eye-open:before {
  content: "\f06e";
}

.icon-eye-close:before {
  content: "\f070";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-random:before {
  content: "\f074";
}

.icon-comment:before {
  content: "\f075";
}

.icon-magnet:before {
  content: "\f076";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-retweet:before {
  content: "\f079";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-close:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-resize-vertical:before {
  content: "\f07d";
}

.icon-resize-horizontal:before {
  content: "\f07e";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-twitter-sign:before {
  content: "\f081";
}

.icon-facebook-sign:before {
  content: "\f082";
}

.icon-camera-retro:before {
  content: "\f083";
}

.icon-key:before {
  content: "\f084";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-up:before {
  content: "\f087";
}

.icon-thumbs-down:before {
  content: "\f088";
}

.icon-star-half:before {
  content: "\f089";
}

.icon-heart-empty:before {
  content: "\f08a";
}

.icon-signout:before {
  content: "\f08b";
}

.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-pushpin:before {
  content: "\f08d";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-signin:before {
  content: "\f090";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-github-sign:before {
  content: "\f092";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-lemon:before {
  content: "\f094";
}

.icon-phone:before {
  content: "\f095";
}

.icon-check-empty:before {
  content: "\f096";
}

.icon-bookmark-empty:before {
  content: "\f097";
}

.icon-phone-sign:before {
  content: "\f098";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-github:before {
  content: "\f09b";
}

.icon-unlock:before {
  content: "\f09c";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-rss:before {
  content: "\f09e";
}

.icon-hdd:before {
  content: "\f0a0";
}

.icon-bullhorn:before {
  content: "\f0a1";
}

.icon-bell:before {
  content: "\f0a2";
}

.icon-certificate:before {
  content: "\f0a3";
}

.icon-hand-right:before {
  content: "\f0a4";
}

.icon-hand-left:before {
  content: "\f0a5";
}

.icon-hand-up:before {
  content: "\f0a6";
}

.icon-hand-down:before {
  content: "\f0a7";
}

.icon-circle-arrow-left:before {
  content: "\f0a8";
}

.icon-circle-arrow-right:before {
  content: "\f0a9";
}

.icon-circle-arrow-up:before {
  content: "\f0aa";
}

.icon-circle-arrow-down:before {
  content: "\f0ab";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-fullscreen:before {
  content: "\f0b2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-cloud:before {
  content: "\f0c2";
}

.icon-beaker:before {
  content: "\f0c3";
}

.icon-cut:before {
  content: "\f0c4";
}

.icon-copy:before {
  content: "\f0c5";
}

.icon-paper-clip:before {
  content: "\f0c6";
}

.icon-save:before {
  content: "\f0c7";
}

.icon-sign-blank:before {
  content: "\f0c8";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-list-ul:before {
  content: "\f0ca";
}

.icon-list-ol:before {
  content: "\f0cb";
}

.icon-strikethrough:before {
  content: "\f0cc";
}

.icon-underline:before {
  content: "\f0cd";
}

.icon-table:before {
  content: "\f0ce";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-truck:before {
  content: "\f0d1";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-pinterest-sign:before {
  content: "\f0d3";
}

.icon-google-plus-sign:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-columns:before {
  content: "\f0db";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-envelope-alt:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-undo:before {
  content: "\f0e2";
}

.icon-legal:before {
  content: "\f0e3";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-comment-alt:before {
  content: "\f0e5";
}

.icon-comments-alt:before {
  content: "\f0e6";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-umbrella:before {
  content: "\f0e9";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-user-md:before {
  content: "\f200";
}

html {
  overflow-y: hidden;
}

body {
  background: #313131 url('../images/page-noise.png');
  color: #dedede;
}
body > * {
  opacity: 0;
}
.ui-ready body > * {
  opacity: 1;
}

.site-header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
.ui-ready .site-header {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.site-nav {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 100px;
}
.ui-ready .site-nav {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.site-page {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 100px;
  right: 0;
  padding: 20px;
  overflow: auto;
  min-width: 888px;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
  outline: none;
}
.ui-ready .site-page {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.panel {
  position: fixed;
  z-index: 3;
  top: 40px;
  bottom: 0;
  left: 100px;
  width: 0;
}

.full-screen .site-header {
  top: -40px;
}
.full-screen .site-nav {
  top: 0;
  left: -100px;
}
.full-screen .site-page {
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.full-screen .panel {
  left: 0;
  top: 0;
}

.site-header {
  background: #242424 url('../images/page-noise.png');
  -webkit-box-shadow: 0 1px 0 #1d1d1d;
  -moz-box-shadow: 0 1px 0 #1d1d1d;
  box-shadow: 0 1px 0 #1d1d1d;
}
.site-header h1 {
  font-size: 18px;
  line-height: 40px;
  display: inline;
  overflow: hidden;
}
.site-header h1 a {
  font-size: 14px;
  float: left;
  padding: 0 5px 0 30px;
  position: relative;
  z-index: 4;
  color: #dedede;
  background: #646464 url('../images/page-noise.png');
  outline: none;
}
.site-header h1 a:first-child {
  padding: 0 0 0 10px;
  width: 90px;
}
.site-header h1 a:last-of-type {
  margin-right: 30px;
}
.site-header h1 a:hover, .site-header h1 a:focus {
  background: #717171 url('../images/page-noise.png') !important;
}
.site-header h1 a:hover b b, .site-header h1 a:focus b b {
  background: #717171 url('../images/page-noise.png') !important;
}
.site-header h1 a + a, .site-header h1 a + a b b {
  background: #575757 url('../images/page-noise.png');
  z-index: 3;
}
.site-header h1 a + a + a, .site-header h1 a + a + a b b {
  background: #4b4b4b url('../images/page-noise.png');
  z-index: 2;
}
.site-header h1 a + a + a + a, .site-header h1 a + a + a + a b b {
  background: #3e3e3e url('../images/page-noise.png');
  z-index: 1;
}
.site-header h1 i {
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
}
.site-header h1 b {
  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
  position: absolute;
  left: auto;
  right: -40px;
  top: 50%;
  margin-top: -20px;
  pointer-events: none;
}
.oldie .site-header h1 b {
  display: none;
}
.site-header h1 b > b {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.site-header h1 b > b {
  right: auto;
  left: -20px;
  margin-top: -14px;
}
.site-header h1 b b {
  background: #646464 url('../images/page-noise.png');
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.site-header .tools {
  position: fixed;
  top: 0;
  right: 0;
}
.site-header .tools a {
  float: left;
  width: 40px;
  height: 40px;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: #dedede;
  outline: none;
}
.site-header .tools a:hover, .site-header .tools a:focus {
  background: rgba(255, 255, 255, 0.4);
  color: #313131;
}
.site-header .tools a i + i {
  display: none;
}
.full-screen .site-header .tools a.full-screen i {
  display: none;
}
.full-screen .site-header .tools a.full-screen i + i {
  display: block;
}

.site-nav {
  background: #444444 url('../images/noise.png') repeat;
}
.site-nav ul {
  margin-bottom: 5px;
  clear: both;
}
.site-nav li {
  font-size: 14px;
  margin-top: 1px;
}
.site-nav li a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  outline: none;
  line-height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  position: relative;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.site-nav li a i {
  line-height: 1;
}
.site-nav li a:hover, .site-nav li a:active {
  background: rgba(0, 0, 0, 0.4);
}
.site-nav li a:hover b b, .site-nav li a:active b b {
  left: -20px;
  background: rgba(0, 0, 0, 0.4);
}
.site-nav li b {
  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
  position: absolute;
  left: auto;
  right: -40px;
  top: 50%;
  margin-top: -20px;
}
.oldie .site-nav li b {
  display: none;
}
.site-nav li b > b {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.site-nav li b > b {
  right: auto;
  left: -20px;
  margin-top: -14px;
}
.site-nav li b b {
  background: rgba(0, 0, 0, 0.2);
  left: -40px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.site-nav li.active a {
  background: rgba(0, 0, 0, 0.8);
}
.site-nav .date {
  clear: both;
  margin: 5px;
  padding: 5px 5px 10px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.site-nav .date span:first-child {
  font-size: 54px;
  line-height: 1;
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4);
  display: block;
}
.site-nav .date span:first-child.month {
  font-size: 30px;
  line-height: 45px;
}
.site-nav .date span:first-child.month + .year {
  font-size: 24px;
  line-height: 28px;
}
.site-nav .date span:first-child.year {
  font-size: 30px;
  line-height: 73px;
}
.site-nav .date span {
  text-decoration: none;
  font-size: 13px;
}
.site-nav .nav {
  margin-bottom: 5px;
  width: 100%;
  float: left;
  position: relative;
}
.site-nav .nav a,
.site-nav .nav span.disabled {
  float: left;
  width: 50%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.site-nav .nav a > i,
.site-nav .nav span.disabled > i {
  font-size: 40px;
  line-height: 60px;
}
.site-nav .nav a:hover .preview, .site-nav .nav a:focus .preview, .site-nav .nav a.active .preview,
.site-nav .nav span.disabled:hover .preview,
.site-nav .nav span.disabled:focus .preview,
.site-nav .nav span.disabled.active .preview {
  width: 130px;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.site-nav .nav a:hover .preview span, .site-nav .nav a:focus .preview span, .site-nav .nav a.active .preview span,
.site-nav .nav span.disabled:hover .preview span,
.site-nav .nav span.disabled:focus .preview span,
.site-nav .nav span.disabled.active .preview span {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
  margin-left: 0;
}
.site-nav .nav a:hover .preview:hover, .site-nav .nav a:hover .preview:active, .site-nav .nav a:focus .preview:hover, .site-nav .nav a:focus .preview:active, .site-nav .nav a.active .preview:hover, .site-nav .nav a.active .preview:active,
.site-nav .nav span.disabled:hover .preview:hover,
.site-nav .nav span.disabled:hover .preview:active,
.site-nav .nav span.disabled:focus .preview:hover,
.site-nav .nav span.disabled:focus .preview:active,
.site-nav .nav span.disabled.active .preview:hover,
.site-nav .nav span.disabled.active .preview:active {
  background: rgba(255, 255, 255, 0.8);
}
.site-nav .nav a:active .preview,
.site-nav .nav span.disabled:active .preview {
  width: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.site-nav .nav a:active .preview span,
.site-nav .nav span.disabled:active .preview span {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  margin-left: -130px;
}
.site-nav .nav .disabled {
  color: #6b7f86;
  opacity: 0.5;
}
.site-nav .nav .preview {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: width 0.2s ease-out 0.2s;
  -o-transition: width 0.2s ease-out 0.2s;
  transition: width 0.2s ease-out 0.2s;
  text-align: left;
  font-size: 11px;
  line-height: 15px;
  color: black;
}
.site-nav .nav .preview span {
  display: block;
  padding: 5px;
  width: 120px;
  margin-left: -130px;
  -webkit-transition: margin 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: margin 0.2s ease-out 0.2s;
  -o-transition: margin 0.2s ease-out 0.2s;
  transition: margin 0.2s ease-out 0.2s;
}
.site-nav .nav .preview span i {
  font-size: 13px;
}
.site-nav .nav .preview .calendar {
  font-size: 19px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
}
.site-nav .nav .preview .calendar i {
  float: left;
  font-size: 45px;
  line-height: 42px;
  margin-left: 10px;
  margin-right: 0;
}
.site-nav .nav .preview .calendar.year {
  font-size: 22px;
  line-height: 38px;
}
.site-nav .nav .preview img {
  margin: 4px 0 0 0;
  display: block;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.panel {
  overflow: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
}
.panel .inner-panel {
  padding: 25px 30px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  margin-left: -400px;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
.open-panel .panel {
  width: 400px;
}
.open-panel .panel .inner-panel {
  margin-left: 0;
}
.panel h2 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1em 0 0.5em 0;
  position: relative;
}
.panel h2:first-child {
  margin-top: 0;
}
.panel h2 .action {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  line-height: 16px;
  color: #dedede;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 4px;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.panel h2 .action:hover, .panel h2 .action:focus {
  background: #6b7f86;
}
.panel p {
  margin-bottom: 1em;
}
.panel section.copy p {
  text-align: justify;
}
.panel p.loading {
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}

.viewport {
  min-width: 0;
  overflow: auto;
  padding: 20px;
  text-align: center;
}
.js .viewport {
  overflow: visible;
}
.push-panel .viewport {
  left: 500px;
}
.viewport .outer-viewport {
  display: table;
  height: 100%;
  width: 100%;
}
.viewport .inner-viewport {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.viewport.maximise-height .outer-viewport,
.viewport.maximise-height .inner-viewport {
  display: inline;
}
.viewport.maximise-height img {
  width: auto;
  height: 100%;
}
.viewport img {
  display: inline;
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.js .viewport img {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.js .viewport img.loaded {
  opacity: 1;
}
.js .viewport p {
  display: none;
}
.viewport iframe {
  background: black;
  -webkit-box-shadow: black 0 0 2px;
  -moz-box-shadow: black 0 0 2px;
  box-shadow: black 0 0 2px;
  width: 640px;
  height: 385px;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.full-screen .viewport {
  padding: 0;
}
.full-screen .viewport img {
  border: none;
}
.full-screen .viewport iframe {
  width: 100%;
  height: 100%;
}

.archive {
  margin-bottom: 40px;
}
.archive .item {
  position: relative;
  width: 120px;
  height: 90px;
}
.archive img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.archive a {
  position: relative;
  display: block;
  z-index: 3;
  width: 120px;
  height: 90px;
  overflow: hidden;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  color: #dedede;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.archive a span {
  position: relative;
  z-index: 2;
  display: block;
  text-align: center;
  padding: 30px 5px 5px 5px;
  height: 75px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.archive a:hover {
  background: rgba(0, 0, 0, 0.8);
}
.archive a:hover span {
  padding-top: 10px;
  opacity: 1;
}
.archive span.day {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 90px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
  cursor: default;
}
.archive span.date {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}

ul.archive {
  width: 882px;
  margin: 0 auto;
  overflow: auto;
}
ul.archive li {
  font-size: 11px;
  float: left;
  margin: 3px;
  width: 120px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

table.archive {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 6px;
  empty-cells: hide;
  margin: 0 auto 40px auto;
}
table.archive th {
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
  text-transform: uppercase;
  padding-bottom: 20px;
}
table.archive td {
  font-size: 11px;
  vertical-align: top;
  width: 120px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
table.archive td.empty {
  background: rgba(255, 255, 255, 0.05);
  border: none;
}
table.archive td.empty span.day {
  color: #666;
  text-shadow: none;
}
table.archive td .date {
  padding: 0 4px;
  font-size: 12px;
}

.tags {
  line-height: 20px;
  max-width: 888px;
  margin: 0 auto;
  text-align: left;
}
.tags a {
  margin-right: 10px;
  white-space: nowrap;
  vertical-align: middle;
}
.tags a.xxs {
  font-size: 10px;
}
.tags a.xs {
  font-size: 12px;
}
.tags a.s {
  font-size: 14px;
}
.tags a.l {
  font-size: 16px;
}
.tags a.xl {
  font-size: 18px;
}
.tags a.xxl {
  font-size: 20px;
}
.tags a:hover, .tags a:active {
  background: #6b7f86;
  color: #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 1px 4px;
  margin: 0 6px 0 -4px;
  text-decoration: none;
}
.tags.cloud {
  text-align: center;
}
.site-page .tags {
  line-height: 30px;
}
.site-page .tags a.xxs {
  font-size: 12px;
}
.site-page .tags a.xs {
  font-size: 16px;
}
.site-page .tags a.s {
  font-size: 20px;
}
.site-page .tags a.l {
  font-size: 24px;
}
.site-page .tags a.xl {
  font-size: 26px;
}
.site-page .tags a.xxl {
  font-size: 30px;
}
.site-page .tags span {
  font-size: 10px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.2);
  padding: 1px 4px 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  top: -1px;
  position: relative;
}

.pagination {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0 0 20px 0;
}
.pagination a,
.pagination strong,
.pagination span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 1px;
  background: rgba(0, 0, 0, 0.2);
  color: #dedede;
}
.pagination a:hover,
.pagination a:focus {
  background: rgba(0, 0, 0, 0.8);
  color: #dedede;
  text-decoration: none;
}
.pagination strong {
  background: #6b7f86;
  cursor: default;
}
.pagination span {
  opacity: 0.5;
  cursor: default;
}

.growler {
  position: fixed;
  z-index: 2;
  top: 100px;
  left: 50%;
  width: 280px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -90px;
  opacity: 0;
  top: -50px;
  background: #444444;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
}
.growler i {
  float: left;
  margin-right: 8px;
  font-size: 38px;
  line-height: 38px;
}
.growler.open {
  top: 200px;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.error {
  position: relative;
  margin: 100px auto 0 auto;
  width: 480px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #7e7e7e;
  padding: 0 0 0 100px;
}
.error i {
  width: 100px;
  font-size: 80px;
  line-height: 100px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
}
