@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,bold,400italic,bolditalic");
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\000033}}
html {
  overflow: hidden;
  min-height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000351}}
html body {
  font-size: 75%;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000355}}
html html > body {
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\000039}}
body {
  font-family: Ubuntu, sans-serif;
  background: #2e2e2e url(../images/black_denim.png);
  color: #cccccc;
  min-width: 900px;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/screen\.scss}line{font-family:\0000317}}
a {
  color: #516681;
  text-decoration: none;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
a:hover {
  color: #6699ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_hover-link\.scss}line{font-family:\000034}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_titlebar\.scss}line{font-family:\000031}}
.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 40px;
  padding-left: 101px;
  background: #2e2e2e;
  border-bottom: 0 solid black;
  -moz-box-shadow: black 0 0 5px;
  -webkit-box-shadow: black 0 0 5px;
  -o-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
  font-size: 1.333em;
  line-height: 2.25em;
  line-height: 40px;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_titlebar\.scss}line{font-family:\0000318}}
.titlebar h1 {
  display: inline;
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\000037}}
.toolbar {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100px;
  border-right: 1px solid #444444;
  background: #2e2e2e;
  -moz-box-shadow: black 0 0 5px;
  -webkit-box-shadow: black 0 0 5px;
  -o-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000320}}
.toolbar ul {
  float: left;
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000325}}
.toolbar ul:first-child {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000330}}
.toolbar li {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  margin-bottom: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000337}}
.toolbar li:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000341}}
.toolbar li a {
  display: block;
  color: #b3b3b3;
  padding: 5px 10px;
  -moz-transition: center 0.5s;
  -webkit-transition: center 0.5s;
  -o-transition: center 0.5s;
  transition: center 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000346}}
.toolbar li a:hover {
  color: #cccccc;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000352}}
.toolbar li:hover {
  background: rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000357}}
.toolbar li.icon a {
  min-height: 24px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding: 8px 10px 5px 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000363}}
.toolbar li.icon.details a {
  background-image: url(../images/details.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000371}}
.toolbar p.date {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: black 0 0 5px inset;
  -webkit-box-shadow: black 0 0 5px inset;
  -o-box-shadow: black 0 0 5px inset;
  box-shadow: black 0 0 5px inset;
  margin: 0 5px 20px 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000384}}
.toolbar p.date span.day {
  display: block;
  font-size: 50px;
  line-height: 1;
  text-shadow: -1px -1px 0 black;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\0000392}}
.toolbar p.date span.month {
  margin-right: 5px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003100}}
.toolbar div.nav {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003105}}
.toolbar div.nav p {
  float: left;
  width: 100%;
  background: url(../images/next_prev.png) no-repeat center center;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003111}}
.toolbar div.nav span.disabled {
  float: left;
  width: 50px;
  height: 40px;
  background: rgba(46, 46, 46, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003117}}
.toolbar div.nav a {
  float: left;
  width: 50px;
  height: 40px;
  text-decoration: none;
  background: rgba(46, 46, 46, 0.5);
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003125}}
.toolbar div.nav a:hover {
  background: rgba(46, 46, 46, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003129}}
.toolbar div.nav a.next {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003133}}
.toolbar div.nav a span.preview {
  position: absolute;
  left: 100%;
  top: -50%;
  width: 0;
  padding: 5px 0;
  overflow: hidden;
  margin-left: 1px;
  -moz-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003143}}
.toolbar div.nav a span.preview span {
  display: block;
  padding: 5px;
  width: 120px;
  margin-left: -136px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #444444;
  border-left: 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-align: center;
  color: #b3b3b3;
  -moz-transition: margin 0.4s;
  -webkit-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
  -moz-box-shadow: black 0 0 5px;
  -webkit-box-shadow: black 0 0 5px;
  -o-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003158}}
.toolbar div.nav a span.preview img {
  margin-top: 4px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003164}}
.toolbar div.nav a:hover span.preview {
  width: 136px;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_toolbar\.scss}line{font-family:\00003167}}
.toolbar div.nav a:hover span.preview span {
  margin: 0;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\000033}}
.viewport {
  position: absolute;
  top: 40px;
  left: 101px;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000315}}
.js .viewport {
  overflow: visible;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000320}}
.open-panel .viewport {
  left: 501px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000324}}
.viewport .outer-viewport {
  display: table;
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000330}}
.viewport .inner-viewport {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000338}}
.viewport.portrait .outer-viewport,
.viewport.portrait .inner-viewport {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000342}}
.viewport.portrait img {
  width: auto;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000350}}
.viewport .picture {
  -moz-box-shadow: black 0 0 5px;
  -webkit-box-shadow: black 0 0 5px;
  -o-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
  background: black;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000356}}
.js .viewport .picture {
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000360}}
.js .viewport .picture.loaded {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000366}}
.viewport img {
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000376}}
.js .viewport p {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_picture\.scss}line{font-family:\0000383}}
.viewport iframe {
  display: inline-block !important;
  max-width: 640px;
  max-height: 385px;
  width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\000033}}
.panel {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 101px;
  z-index: 2;
  width: 0;
  overflow: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\0000315}}
.open-panel .panel {
  width: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\0000318}}
.open-panel .panel .inner-panel {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\0000323}}
.panel .inner-panel {
  padding: 20px;
  width: 360px;
  margin-left: -400px;
  -moz-transition: margin 1s;
  -webkit-transition: margin 1s;
  -o-transition: margin 1s;
  transition: margin 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\0000330}}
.panel h2 {
  font-size: 1.167em;
  line-height: 1.286em;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_panel\.scss}line{font-family:\0000337}}
.panel p {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\000033}}
div.message {
  position: relative;
  top: -300px;
  left: 50.5px;
  z-index: 4;
  opacity: 0;
  width: 230px;
  margin: 0 auto;
  padding: 15px;
  -moz-box-shadow: black 0 0 4px;
  -webkit-box-shadow: black 0 0 4px;
  -o-box-shadow: black 0 0 4px;
  box-shadow: black 0 0 4px;
  -moz-transition: top 1s ease-out, opacity 1s ease-out;
  -webkit-transition: top 1s ease-out, opacity 1s ease-out;
  -o-transition: top 1s ease-out, opacity 1s ease-out;
  transition: top 1s ease-out, opacity 1s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000315}}
div.message.loading {
  background: rgba(255, 255, 255, 0.1) url(../images/loading.gif) no-repeat 15px center;
  padding-left: 60px;
  min-height: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000322}}
div.message.open {
  opacity: 1;
  top: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_messages\.scss}line{font-family:\0000327}}
div.message p {
  font-weight: bold;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\000033}}
.page {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 101px;
  right: 0;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000311}}
.page::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000317}}
.page::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000319}}
.page::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000324}}
.page::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000330}}
.page::-webkit-scrollbar-corner {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000334}}
.page .inner-page {
  margin: 0 auto;
  width: 960px;
  padding: 50px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000340}}
.page h2 {
  font-size: 1.833em;
  line-height: 1.636em;
  padding-bottom: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #484848;
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000349}}
.page h2:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000354}}
.page .tags {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000357}}
.page .tags a {
  white-space: nowrap;
  line-height: 32px;
  margin: 0 5px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000363}}
.page .tags a:hover {
  background: #516681;
  color: #cccccc;
  text-decoration: none;
  -moz-box-shadow: black 0 0 2px;
  -webkit-box-shadow: black 0 0 2px;
  -o-box-shadow: black 0 0 2px;
  box-shadow: black 0 0 2px;
  padding: 1px 4px 2px 4px;
  position: relative;
  margin: -1px 1px -2px 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000374}}
.page .tags .xxs {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000378}}
.page .tags .xs {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000382}}
.page .tags .s {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000386}}
.page .tags .l {
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000390}}
.page .tags .xl {
  font-size: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_page\.scss}line{font-family:\0000394}}
.page .tags .xxl {
  font-size: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\000031}}
.calendar {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 6px;
  empty-cells: hide;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\000038}}
.calendar th {
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000314}}
.calendar td {
  font-size: 0.917em;
  line-height: 1.636em;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000319}}
.calendar td.empty {
  background: rgba(255, 255, 255, 0.05);
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000323}}
.calendar td.empty span.day {
  color: #666;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000330}}
.calendar div {
  position: relative;
  width: 120px;
  height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000335}}
.calendar div img {
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000342}}
.calendar span.day {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 90px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000356}}
.calendar a {
  position: relative;
  z-index: 2;
  display: block;
  width: 120px;
  height: 90px;
  text-decoration: none;
  overflow: hidden;
  color: #cccccc;
  background: rgba(0, 0, 0, 0);
  -moz-transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000369}}
.calendar a span {
  display: block;
  text-align: center;
  padding: 90px 5px 5px 5px;
  opacity: 0;
  -moz-transition: padding 0.4s, opacity 0.6s ease-in-out 0.1s;
  -webkit-transition: padding 0.4s, opacity 0.6s ease-in-out 0.1s;
  -o-transition: padding 0.4s, opacity 0.6s ease-in-out 0.1s;
  transition: padding 0.4s, opacity 0.6s ease-in-out 0.1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000377}}
.calendar a:hover {
  background: rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/martin\/Projects\/django\/pretty-apod\/compass\/sass\/_calendar\.scss}line{font-family:\0000380}}
.calendar a:hover span {
  opacity: 1;
  padding-top: 10px;
}
