@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,bold,400italic,bolditalic");
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../../scss/partials/_type.scss */
body {
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 18px;
}

/* line 9, ../../../scss/partials/_type.scss */
a {
  color: #6b7f86;
  text-decoration: none;
}
/* line 14, ../../../scss/partials/_type.scss */
a:hover, a:active {
  color: #86846b;
}
/* line 17, ../../../scss/partials/_type.scss */
p a:hover, p a:active {
  text-decoration: underline;
}

/* line 23, ../../../scss/partials/_type.scss */
em {
  font-style: italic;
}

/* line 28, ../../../scss/partials/_type.scss */
.site-page h2 {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin: 80px auto 10px auto;
  height: 20px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(70%, rgba(0, 0, 0, 0))) no-repeat center -10px;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: -o-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 70%) no-repeat center -10px;
}
/* line 38, ../../../scss/partials/_type.scss */
.site-page h2:first-child {
  margin-top: 30px;
}
/* line 42, ../../../scss/partials/_type.scss */
.site-page h2 span {
  display: inline-block;
  line-height: 30px;
  top: -30px;
  position: relative;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 41, ../../../scss/partials/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 50, ../../../scss/partials/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 56, ../../../scss/partials/_font-awesome.scss */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em;
}

/* line 63, ../../../scss/partials/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"], .nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 71, ../../../scss/partials/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 77, ../../../scss/partials/_font-awesome.scss */
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 83, ../../../scss/partials/_font-awesome.scss */
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
/* line 90, ../../../scss/partials/_font-awesome.scss */
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
/* line 94, ../../../scss/partials/_font-awesome.scss */
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  vertical-align: initial;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 104, ../../../scss/partials/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 105, ../../../scss/partials/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 106, ../../../scss/partials/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 107, ../../../scss/partials/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 108, ../../../scss/partials/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 109, ../../../scss/partials/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 110, ../../../scss/partials/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 111, ../../../scss/partials/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 112, ../../../scss/partials/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 113, ../../../scss/partials/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 114, ../../../scss/partials/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 115, ../../../scss/partials/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 116, ../../../scss/partials/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 117, ../../../scss/partials/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 118, ../../../scss/partials/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 120, ../../../scss/partials/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 121, ../../../scss/partials/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 122, ../../../scss/partials/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 123, ../../../scss/partials/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 124, ../../../scss/partials/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 125, ../../../scss/partials/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 126, ../../../scss/partials/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 127, ../../../scss/partials/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 128, ../../../scss/partials/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 129, ../../../scss/partials/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 130, ../../../scss/partials/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 131, ../../../scss/partials/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 132, ../../../scss/partials/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 133, ../../../scss/partials/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 134, ../../../scss/partials/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 137, ../../../scss/partials/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 138, ../../../scss/partials/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 139, ../../../scss/partials/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 140, ../../../scss/partials/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 141, ../../../scss/partials/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 142, ../../../scss/partials/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 143, ../../../scss/partials/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 144, ../../../scss/partials/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 145, ../../../scss/partials/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 146, ../../../scss/partials/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 147, ../../../scss/partials/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 148, ../../../scss/partials/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 149, ../../../scss/partials/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 150, ../../../scss/partials/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 151, ../../../scss/partials/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 153, ../../../scss/partials/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 154, ../../../scss/partials/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 155, ../../../scss/partials/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 156, ../../../scss/partials/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 157, ../../../scss/partials/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 158, ../../../scss/partials/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 159, ../../../scss/partials/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 160, ../../../scss/partials/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 161, ../../../scss/partials/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 162, ../../../scss/partials/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 163, ../../../scss/partials/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 164, ../../../scss/partials/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 165, ../../../scss/partials/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 166, ../../../scss/partials/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 167, ../../../scss/partials/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 169, ../../../scss/partials/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 170, ../../../scss/partials/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 171, ../../../scss/partials/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 172, ../../../scss/partials/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 173, ../../../scss/partials/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 174, ../../../scss/partials/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 175, ../../../scss/partials/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 176, ../../../scss/partials/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 177, ../../../scss/partials/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 178, ../../../scss/partials/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 179, ../../../scss/partials/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 180, ../../../scss/partials/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 181, ../../../scss/partials/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 182, ../../../scss/partials/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 183, ../../../scss/partials/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 185, ../../../scss/partials/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 186, ../../../scss/partials/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 187, ../../../scss/partials/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 188, ../../../scss/partials/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 189, ../../../scss/partials/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 190, ../../../scss/partials/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 191, ../../../scss/partials/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 192, ../../../scss/partials/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 193, ../../../scss/partials/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 194, ../../../scss/partials/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 195, ../../../scss/partials/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 196, ../../../scss/partials/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 197, ../../../scss/partials/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 198, ../../../scss/partials/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 199, ../../../scss/partials/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 201, ../../../scss/partials/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 202, ../../../scss/partials/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 203, ../../../scss/partials/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 204, ../../../scss/partials/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 205, ../../../scss/partials/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 206, ../../../scss/partials/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 207, ../../../scss/partials/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 208, ../../../scss/partials/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 209, ../../../scss/partials/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 210, ../../../scss/partials/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 211, ../../../scss/partials/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 212, ../../../scss/partials/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 213, ../../../scss/partials/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 214, ../../../scss/partials/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 215, ../../../scss/partials/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 217, ../../../scss/partials/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 218, ../../../scss/partials/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 219, ../../../scss/partials/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 220, ../../../scss/partials/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 221, ../../../scss/partials/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 222, ../../../scss/partials/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 223, ../../../scss/partials/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 224, ../../../scss/partials/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 225, ../../../scss/partials/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 226, ../../../scss/partials/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 227, ../../../scss/partials/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 228, ../../../scss/partials/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 229, ../../../scss/partials/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 230, ../../../scss/partials/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 231, ../../../scss/partials/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 233, ../../../scss/partials/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 234, ../../../scss/partials/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 235, ../../../scss/partials/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 236, ../../../scss/partials/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 237, ../../../scss/partials/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 238, ../../../scss/partials/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 239, ../../../scss/partials/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 240, ../../../scss/partials/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 241, ../../../scss/partials/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 242, ../../../scss/partials/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 243, ../../../scss/partials/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 244, ../../../scss/partials/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 245, ../../../scss/partials/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 246, ../../../scss/partials/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 247, ../../../scss/partials/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 249, ../../../scss/partials/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 250, ../../../scss/partials/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 251, ../../../scss/partials/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 252, ../../../scss/partials/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 253, ../../../scss/partials/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 254, ../../../scss/partials/_font-awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 255, ../../../scss/partials/_font-awesome.scss */
.icon-check-empty:before {
  content: "\f096";
}

/* line 256, ../../../scss/partials/_font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 257, ../../../scss/partials/_font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 258, ../../../scss/partials/_font-awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 259, ../../../scss/partials/_font-awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 260, ../../../scss/partials/_font-awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 261, ../../../scss/partials/_font-awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 262, ../../../scss/partials/_font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 263, ../../../scss/partials/_font-awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 265, ../../../scss/partials/_font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 266, ../../../scss/partials/_font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 267, ../../../scss/partials/_font-awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 268, ../../../scss/partials/_font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 269, ../../../scss/partials/_font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 270, ../../../scss/partials/_font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 271, ../../../scss/partials/_font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 272, ../../../scss/partials/_font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 273, ../../../scss/partials/_font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 274, ../../../scss/partials/_font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 275, ../../../scss/partials/_font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 276, ../../../scss/partials/_font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 277, ../../../scss/partials/_font-awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 278, ../../../scss/partials/_font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 279, ../../../scss/partials/_font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 281, ../../../scss/partials/_font-awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 282, ../../../scss/partials/_font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 283, ../../../scss/partials/_font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 285, ../../../scss/partials/_font-awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 286, ../../../scss/partials/_font-awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 287, ../../../scss/partials/_font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 288, ../../../scss/partials/_font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 289, ../../../scss/partials/_font-awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 290, ../../../scss/partials/_font-awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 291, ../../../scss/partials/_font-awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 292, ../../../scss/partials/_font-awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 293, ../../../scss/partials/_font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 294, ../../../scss/partials/_font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 295, ../../../scss/partials/_font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 296, ../../../scss/partials/_font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 297, ../../../scss/partials/_font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 298, ../../../scss/partials/_font-awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 299, ../../../scss/partials/_font-awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 301, ../../../scss/partials/_font-awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 302, ../../../scss/partials/_font-awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 303, ../../../scss/partials/_font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 304, ../../../scss/partials/_font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 305, ../../../scss/partials/_font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 306, ../../../scss/partials/_font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 307, ../../../scss/partials/_font-awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 308, ../../../scss/partials/_font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 309, ../../../scss/partials/_font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 310, ../../../scss/partials/_font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 311, ../../../scss/partials/_font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 312, ../../../scss/partials/_font-awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 313, ../../../scss/partials/_font-awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 314, ../../../scss/partials/_font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 315, ../../../scss/partials/_font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 317, ../../../scss/partials/_font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 318, ../../../scss/partials/_font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 319, ../../../scss/partials/_font-awesome.scss */
.icon-undo:before {
  content: "\f0e2";
}

/* line 320, ../../../scss/partials/_font-awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 321, ../../../scss/partials/_font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 322, ../../../scss/partials/_font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 323, ../../../scss/partials/_font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 324, ../../../scss/partials/_font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 325, ../../../scss/partials/_font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 326, ../../../scss/partials/_font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 327, ../../../scss/partials/_font-awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 329, ../../../scss/partials/_font-awesome.scss */
.icon-user-md:before {
  content: "\f200";
}

/* line 1, ../../../scss/partials/_layout.scss */
html {
  overflow-y: hidden;
  min-height: 800px;
}

/* line 6, ../../../scss/partials/_layout.scss */
body {
  background: #313131 url('../images/page-noise.png?1346315950');
  color: #dedede;
  min-height: 800px;
}
/* line 11, ../../../scss/partials/_layout.scss */
body > * {
  opacity: 0;
}
/* line 14, ../../../scss/partials/_layout.scss */
.ui-ready body > * {
  opacity: 1;
}

/* line 20, ../../../scss/partials/_layout.scss */
.site-header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
/* line 28, ../../../scss/partials/_layout.scss */
.ui-ready .site-header {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 33, ../../../scss/partials/_layout.scss */
.site-nav {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 100px;
}
/* line 41, ../../../scss/partials/_layout.scss */
.ui-ready .site-nav {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 46, ../../../scss/partials/_layout.scss */
.site-page {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 100px;
  right: 0;
  padding: 20px;
  overflow: auto;
  min-width: 888px;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
}
/* line 57, ../../../scss/partials/_layout.scss */
.ui-ready .site-page {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 62, ../../../scss/partials/_layout.scss */
.panel {
  position: fixed;
  z-index: 3;
  top: 40px;
  bottom: 0;
  left: 100px;
  width: 0;
}

/* line 72, ../../../scss/partials/_layout.scss */
.full-screen .site-header {
  top: -40px;
}
/* line 76, ../../../scss/partials/_layout.scss */
.full-screen .site-nav {
  top: 0;
  left: -100px;
}
/* line 81, ../../../scss/partials/_layout.scss */
.full-screen .site-page {
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 87, ../../../scss/partials/_layout.scss */
.full-screen .panel {
  left: 0;
  top: 0;
}

/* line 1, ../../../scss/partials/_header.scss */
.site-header {
  background: #242424 url('../images/page-noise.png?1346315950');
  -webkit-box-shadow: 0 1px 0 #1d1d1d;
  -moz-box-shadow: 0 1px 0 #1d1d1d;
  box-shadow: 0 1px 0 #1d1d1d;
}
/* line 5, ../../../scss/partials/_header.scss */
.site-header h1 {
  font-size: 18px;
  line-height: 40px;
  display: inline;
  overflow: hidden;
}
/* line 11, ../../../scss/partials/_header.scss */
.site-header h1 a {
  font-size: 14px;
  float: left;
  padding: 0 5px 0 30px;
  position: relative;
  z-index: 4;
  color: #dedede;
  background: #646464 url('../images/page-noise.png?1346315950');
}
/* line 20, ../../../scss/partials/_header.scss */
.site-header h1 a:first-child {
  padding: 0 0 0 10px;
  width: 90px;
}
/* line 25, ../../../scss/partials/_header.scss */
.site-header h1 a:last-of-type {
  margin-right: 30px;
}
/* line 30, ../../../scss/partials/_header.scss */
.site-header h1 a:hover, .site-header h1 a:focus {
  background: #717171 url('../images/page-noise.png?1346315950') !important;
}
/* line 32, ../../../scss/partials/_header.scss */
.site-header h1 a:hover b b, .site-header h1 a:focus b b {
  background: #717171 url('../images/page-noise.png?1346315950') !important;
}
/* line 37, ../../../scss/partials/_header.scss */
.site-header h1 a + a, .site-header h1 a + a b b {
  background: #575757 url('../images/page-noise.png?1346315950');
  z-index: 3;
}
/* line 42, ../../../scss/partials/_header.scss */
.site-header h1 a + a + a, .site-header h1 a + a + a b b {
  background: #4b4b4b url('../images/page-noise.png?1346315950');
  z-index: 2;
}
/* line 47, ../../../scss/partials/_header.scss */
.site-header h1 a + a + a + a, .site-header h1 a + a + a + a b b {
  background: #3e3e3e url('../images/page-noise.png?1346315950');
  z-index: 1;
}
/* line 53, ../../../scss/partials/_header.scss */
.site-header h1 i {
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
}
/* line 59, ../../../scss/partials/_header.scss */
.site-header h1 b {
  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
  position: absolute;
  left: auto;
  right: -40px;
  top: 50%;
  margin-top: -20px;
}
/* line 36, ../../../scss/partials/_base.scss */
.oldie .site-header h1 b {
  display: none;
}
/* line 40, ../../../scss/partials/_base.scss */
.site-header h1 b > b {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 58, ../../../scss/partials/_base.scss */
.site-header h1 b > b {
  right: auto;
  left: -20px;
  margin-top: -14px;
}
/* line 62, ../../../scss/partials/_header.scss */
.site-header h1 b b {
  background: #646464 url('../images/page-noise.png?1346315950');
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
/* line 69, ../../../scss/partials/_header.scss */
.site-header .tools {
  position: fixed;
  top: 0;
  right: 0;
}
/* line 74, ../../../scss/partials/_header.scss */
.site-header .tools a {
  float: left;
  width: 40px;
  height: 40px;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: #dedede;
  outline: none;
}
/* line 86, ../../../scss/partials/_header.scss */
.site-header .tools a:hover, .site-header .tools a:focus {
  background: rgba(255, 255, 255, 0.4);
  color: #313131;
}
/* line 91, ../../../scss/partials/_header.scss */
.site-header .tools a i + i {
  display: none;
}
/* line 96, ../../../scss/partials/_header.scss */
.full-screen .site-header .tools a.full-screen i {
  display: none;
}
/* line 98, ../../../scss/partials/_header.scss */
.full-screen .site-header .tools a.full-screen i + i {
  display: block;
}

/* line 1, ../../../scss/partials/_nav.scss */
.site-nav {
  background: #444444 url('../images/noise.png?1346230393') repeat;
}
/* line 4, ../../../scss/partials/_nav.scss */
.site-nav ul {
  margin-bottom: 5px;
  clear: both;
}
/* line 8, ../../../scss/partials/_nav.scss */
.site-nav ul.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
/* line 17, ../../../scss/partials/_nav.scss */
.site-nav li {
  font-size: 14px;
  margin-top: 1px;
}
/* line 21, ../../../scss/partials/_nav.scss */
.site-nav li a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  outline: none;
  line-height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  position: relative;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 32, ../../../scss/partials/_nav.scss */
.site-nav li a i {
  line-height: 1;
}
/* line 37, ../../../scss/partials/_nav.scss */
.site-nav li a:hover, .site-nav li a:active {
  background: rgba(0, 0, 0, 0.4);
}
/* line 40, ../../../scss/partials/_nav.scss */
.site-nav li a:hover b b, .site-nav li a:active b b {
  left: -20px;
  background: rgba(0, 0, 0, 0.4);
}
/* line 47, ../../../scss/partials/_nav.scss */
.site-nav li b {
  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
  position: absolute;
  left: auto;
  right: -40px;
  top: 50%;
  margin-top: -20px;
}
/* line 36, ../../../scss/partials/_base.scss */
.oldie .site-nav li b {
  display: none;
}
/* line 40, ../../../scss/partials/_base.scss */
.site-nav li b > b {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 58, ../../../scss/partials/_base.scss */
.site-nav li b > b {
  right: auto;
  left: -20px;
  margin-top: -14px;
}
/* line 50, ../../../scss/partials/_nav.scss */
.site-nav li b b {
  background: rgba(0, 0, 0, 0.2);
  left: -40px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 58, ../../../scss/partials/_nav.scss */
.site-nav li.active a {
  background: rgba(0, 0, 0, 0.8);
}
/* line 64, ../../../scss/partials/_nav.scss */
.site-nav .date {
  clear: both;
  margin: 5px;
  padding: 5px 5px 10px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 74, ../../../scss/partials/_nav.scss */
.site-nav .date span:first-child {
  font-size: 54px;
  line-height: 1;
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4);
  display: block;
}
/* line 81, ../../../scss/partials/_nav.scss */
.site-nav .date span:first-child.month {
  font-size: 30px;
  line-height: 45px;
}
/* line 85, ../../../scss/partials/_nav.scss */
.site-nav .date span:first-child.month + .year {
  font-size: 24px;
  line-height: 28px;
}
/* line 91, ../../../scss/partials/_nav.scss */
.site-nav .date span:first-child.year {
  font-size: 30px;
  line-height: 73px;
}
/* line 97, ../../../scss/partials/_nav.scss */
.site-nav .date span {
  text-decoration: none;
  font-size: 13px;
}
/* line 103, ../../../scss/partials/_nav.scss */
.site-nav .nav {
  margin-bottom: 5px;
  width: 100%;
  float: left;
  position: relative;
}
/* line 110, ../../../scss/partials/_nav.scss */
.site-nav .nav a,
.site-nav .nav span.disabled {
  float: left;
  width: 50%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
/* line 118, ../../../scss/partials/_nav.scss */
.site-nav .nav a > i,
.site-nav .nav span.disabled > i {
  font-size: 40px;
  line-height: 60px;
}
/* line 126, ../../../scss/partials/_nav.scss */
.site-nav .nav a:hover .preview, .site-nav .nav a:focus .preview, .site-nav .nav a.active .preview,
.site-nav .nav span.disabled:hover .preview,
.site-nav .nav span.disabled:focus .preview,
.site-nav .nav span.disabled.active .preview {
  width: 130px;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 129, ../../../scss/partials/_nav.scss */
.site-nav .nav a:hover .preview span, .site-nav .nav a:focus .preview span, .site-nav .nav a.active .preview span,
.site-nav .nav span.disabled:hover .preview span,
.site-nav .nav span.disabled:focus .preview span,
.site-nav .nav span.disabled.active .preview span {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
  margin-left: 0;
}
/* line 135, ../../../scss/partials/_nav.scss */
.site-nav .nav a:hover .preview:hover, .site-nav .nav a:hover .preview:active, .site-nav .nav a:focus .preview:hover, .site-nav .nav a:focus .preview:active, .site-nav .nav a.active .preview:hover, .site-nav .nav a.active .preview:active,
.site-nav .nav span.disabled:hover .preview:hover,
.site-nav .nav span.disabled:hover .preview:active,
.site-nav .nav span.disabled:focus .preview:hover,
.site-nav .nav span.disabled:focus .preview:active,
.site-nav .nav span.disabled.active .preview:hover,
.site-nav .nav span.disabled.active .preview:active {
  background: rgba(255, 255, 255, 0.8);
}
/* line 142, ../../../scss/partials/_nav.scss */
.site-nav .nav a:active .preview,
.site-nav .nav span.disabled:active .preview {
  width: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 145, ../../../scss/partials/_nav.scss */
.site-nav .nav a:active .preview span,
.site-nav .nav span.disabled:active .preview span {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  margin-left: -130px;
}
/* line 153, ../../../scss/partials/_nav.scss */
.site-nav .nav .disabled {
  color: #6b7f86;
  opacity: 0.5;
}
/* line 158, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-out 0.2s;
  -moz-transition: width 0.2s ease-out 0.2s;
  -ms-transition: width 0.2s ease-out 0.2s;
  -o-transition: width 0.2s ease-out 0.2s;
  transition: width 0.2s ease-out 0.2s;
  text-align: left;
  font-size: 11px;
  line-height: 15px;
  color: black;
}
/* line 173, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview span {
  display: block;
  padding: 5px;
  width: 120px;
  margin-left: -130px;
  -webkit-transition: margin 0.2s ease-out 0.2s;
  -moz-transition: margin 0.2s ease-out 0.2s;
  -ms-transition: margin 0.2s ease-out 0.2s;
  -o-transition: margin 0.2s ease-out 0.2s;
  transition: margin 0.2s ease-out 0.2s;
}
/* line 180, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview span i {
  font-size: 13px;
}
/* line 185, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview .calendar {
  font-size: 19px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
}
/* line 194, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview .calendar i {
  float: left;
  font-size: 45px;
  line-height: 42px;
  margin-left: 10px;
  margin-right: 0;
}
/* line 202, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview .calendar.year {
  font-size: 22px;
  line-height: 38px;
}
/* line 208, ../../../scss/partials/_nav.scss */
.site-nav .nav .preview img {
  margin: 4px 0 0 0;
  display: block;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

/* line 1, ../../../scss/partials/_panel.scss */
.panel {
  overflow: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
}
/* line 9, ../../../scss/partials/_panel.scss */
.panel .inner-panel {
  padding: 25px 30px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  margin-left: -400px;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -ms-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
/* line 17, ../../../scss/partials/_panel.scss */
.open-panel .panel {
  width: 400px;
}
/* line 20, ../../../scss/partials/_panel.scss */
.open-panel .panel .inner-panel {
  margin-left: 0;
}
/* line 25, ../../../scss/partials/_panel.scss */
.panel h2 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1em 0 0.5em 0;
}
/* line 32, ../../../scss/partials/_panel.scss */
.panel h2:first-child {
  margin-top: 0;
}
/* line 36, ../../../scss/partials/_panel.scss */
.panel h2 .action {
  float: right;
  font-size: 12px;
  line-height: 16px;
  color: #dedede;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 4px;
  margin-top: 2px;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
/* line 47, ../../../scss/partials/_panel.scss */
.panel h2 .action:hover, .panel h2 .action:focus {
  background: #6b7f86;
}
/* line 53, ../../../scss/partials/_panel.scss */
.panel p {
  margin-bottom: 1em;
}
/* line 58, ../../../scss/partials/_panel.scss */
.panel section.copy p {
  text-align: justify;
}
/* line 63, ../../../scss/partials/_panel.scss */
.panel p.loading {
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}

/* line 1, ../../../scss/partials/_viewport.scss */
.viewport {
  min-width: 0;
  overflow: auto;
  padding: 20px;
  text-align: center;
}
/* line 8, ../../../scss/partials/_viewport.scss */
.js .viewport {
  overflow: visible;
}
/* line 12, ../../../scss/partials/_viewport.scss */
.push-panel .viewport {
  left: 500px;
}
/* line 16, ../../../scss/partials/_viewport.scss */
.viewport .outer-viewport {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 22, ../../../scss/partials/_viewport.scss */
.viewport .inner-viewport {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
/* line 31, ../../../scss/partials/_viewport.scss */
.viewport.maximise-height .outer-viewport,
.viewport.maximise-height .inner-viewport {
  display: inline;
}
/* line 35, ../../../scss/partials/_viewport.scss */
.viewport.maximise-height img {
  width: auto;
  height: 100%;
}
/* line 43, ../../../scss/partials/_viewport.scss */
.viewport img {
  display: inline;
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
/* line 52, ../../../scss/partials/_viewport.scss */
.js .viewport img {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 55, ../../../scss/partials/_viewport.scss */
.js .viewport img.loaded {
  opacity: 1;
}
/* line 66, ../../../scss/partials/_viewport.scss */
.js .viewport p {
  display: none;
}
/* line 73, ../../../scss/partials/_viewport.scss */
.viewport iframe {
  background: black;
  -webkit-box-shadow: black 0 0 2px;
  -moz-box-shadow: black 0 0 2px;
  box-shadow: black 0 0 2px;
  width: 640px;
  height: 385px;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 83, ../../../scss/partials/_viewport.scss */
.full-screen .viewport {
  padding: 0;
}
/* line 85, ../../../scss/partials/_viewport.scss */
.full-screen .viewport img {
  border: none;
}
/* line 89, ../../../scss/partials/_viewport.scss */
.full-screen .viewport iframe {
  width: 100%;
  height: 100%;
}

/* line 1, ../../../scss/partials/_archive.scss */
.archive {
  margin-bottom: 40px;
}
/* line 4, ../../../scss/partials/_archive.scss */
.archive .item {
  position: relative;
  width: 120px;
  height: 90px;
}
/* line 10, ../../../scss/partials/_archive.scss */
.archive img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
/* line 18, ../../../scss/partials/_archive.scss */
.archive a {
  position: relative;
  display: block;
  z-index: 3;
  width: 120px;
  height: 90px;
  overflow: hidden;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  color: #dedede;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
/* line 30, ../../../scss/partials/_archive.scss */
.archive a span {
  position: relative;
  z-index: 2;
  display: block;
  text-align: center;
  padding: 30px 5px 5px 5px;
  height: 75px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 41, ../../../scss/partials/_archive.scss */
.archive a:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* line 43, ../../../scss/partials/_archive.scss */
.archive a:hover span {
  padding-top: 10px;
  opacity: 1;
}
/* line 50, ../../../scss/partials/_archive.scss */
.archive span.day {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 90px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
  cursor: default;
}
/* line 64, ../../../scss/partials/_archive.scss */
.archive span.date {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}

/* line 78, ../../../scss/partials/_archive.scss */
ul.archive {
  width: 882px;
  margin: 0 auto;
  overflow: auto;
}
/* line 83, ../../../scss/partials/_archive.scss */
ul.archive li {
  font-size: 11px;
  float: left;
  margin: 3px;
  width: 120px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

/* line 93, ../../../scss/partials/_archive.scss */
table.archive {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 6px;
  empty-cells: hide;
  margin: 0 auto 40px auto;
}
/* line 100, ../../../scss/partials/_archive.scss */
table.archive th {
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 108, ../../../scss/partials/_archive.scss */
table.archive td {
  font-size: 11px;
  vertical-align: top;
  width: 120px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 115, ../../../scss/partials/_archive.scss */
table.archive td.empty {
  background: rgba(255, 255, 255, 0.05);
  border: none;
}
/* line 119, ../../../scss/partials/_archive.scss */
table.archive td.empty span.day {
  color: #666;
  text-shadow: none;
}
/* line 125, ../../../scss/partials/_archive.scss */
table.archive td .date {
  padding: 0 4px;
  font-size: 12px;
}

/* line 1, ../../../scss/partials/_tags.scss */
.tags {
  line-height: 20px;
  max-width: 888px;
  margin: 0 auto;
  text-align: left;
}
/* line 7, ../../../scss/partials/_tags.scss */
.tags a {
  margin-right: 10px;
  white-space: nowrap;
}
/* line 11, ../../../scss/partials/_tags.scss */
.tags a.xxs {
  font-size: 10px;
}
/* line 12, ../../../scss/partials/_tags.scss */
.tags a.xs {
  font-size: 12px;
}
/* line 13, ../../../scss/partials/_tags.scss */
.tags a.s {
  font-size: 14px;
}
/* line 14, ../../../scss/partials/_tags.scss */
.tags a.l {
  font-size: 16px;
}
/* line 15, ../../../scss/partials/_tags.scss */
.tags a.xl {
  font-size: 18px;
}
/* line 16, ../../../scss/partials/_tags.scss */
.tags a.xxl {
  font-size: 20px;
}
/* line 19, ../../../scss/partials/_tags.scss */
.tags a:hover, .tags a:active {
  background: #6b7f86;
  color: #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 1px 4px;
  margin: 0 6px 0 -4px;
  text-decoration: none;
}
/* line 29, ../../../scss/partials/_tags.scss */
.tags.cloud {
  text-align: center;
}
/* line 33, ../../../scss/partials/_tags.scss */
.site-page .tags {
  line-height: 30px;
}
/* line 36, ../../../scss/partials/_tags.scss */
.site-page .tags a.xxs {
  font-size: 12px;
}
/* line 37, ../../../scss/partials/_tags.scss */
.site-page .tags a.xs {
  font-size: 16px;
}
/* line 38, ../../../scss/partials/_tags.scss */
.site-page .tags a.s {
  font-size: 20px;
}
/* line 39, ../../../scss/partials/_tags.scss */
.site-page .tags a.l {
  font-size: 24px;
}
/* line 40, ../../../scss/partials/_tags.scss */
.site-page .tags a.xl {
  font-size: 26px;
}
/* line 41, ../../../scss/partials/_tags.scss */
.site-page .tags a.xxl {
  font-size: 30px;
}
/* line 43, ../../../scss/partials/_tags.scss */
.site-page .tags span {
  font-size: 10px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.2);
  padding: 1px 4px 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  top: -1px;
  position: relative;
}

/* line 1, ../../../scss/partials/_pagination.scss */
.pagination {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0 0 20px 0;
}
/* line 10, ../../../scss/partials/_pagination.scss */
.pagination a,
.pagination strong,
.pagination span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 1px;
  background: rgba(0, 0, 0, 0.2);
  color: #dedede;
}
/* line 23, ../../../scss/partials/_pagination.scss */
.pagination a:hover,
.pagination a:focus {
  background: rgba(0, 0, 0, 0.8);
  color: #dedede;
  text-decoration: none;
}
/* line 29, ../../../scss/partials/_pagination.scss */
.pagination strong {
  background: #6b7f86;
  cursor: default;
}
/* line 34, ../../../scss/partials/_pagination.scss */
.pagination span {
  opacity: 0.5;
  cursor: default;
}

/* line 1, ../../../scss/partials/_growler.scss */
.growler {
  position: fixed;
  z-index: 2;
  top: 100px;
  left: 50%;
  width: 280px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -90px;
  opacity: 0;
  top: -50px;
  background: #444444;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
}
/* line 18, ../../../scss/partials/_growler.scss */
.growler i {
  float: left;
  margin-right: 8px;
  font-size: 38px;
  line-height: 38px;
}
/* line 25, ../../../scss/partials/_growler.scss */
.growler.open {
  top: 200px;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
