BeautifulSoup==3.2.1
Django==1.4
Fabric==1.4.3
South==0.7.6
django-debug-toolbar==0.9.4
python-dateutil==2.1
python-memcached==1.48
six==1.2.0
sorl-thumbnail==11.12
ssh==1.7.14
pytz==2012f
http://google-visualization-python.googlecode.com/files/gviz_api_py-1.8.0.tar.gz#egg=gviz-api.py
