<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Pretty APOD{% endblock %}</title>
	<link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
	<h1>{% block page_title %}Pretty APOD{% endblock %}</h1>
	{% block main %}
	{% endblock %}
</div>
{% block image %}{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="{{ STATIC_URL }}/js/scripts.js"></script>
</body>
</html>