<!DOCTYPE html>
<html class="js">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Pretty APOD{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css">
</head>
<body>

<header class="site-header">
	<p class="branding">Pretty APOD &mdash; </p>
	<h1>{% block page_title %}{% endblock %}</h1>
</header>

<nav class="site-nav">
	<ul>
		<li><a href="{% url home %}">
			<i class="icon-home"></i>
			Today
		</a></li>
		<li data-toggle="tags"><a href="{% url tags %}">
			<i class="icon-tags"></i>
			Tags
		</a></li>
		<li data-toggle="about"><a href="#">
			<i class="icon-info-sign"></i>
			About
		</a></li>
	</ul>
	{% block extra_nav %}
	{% endblock extra_nav %}
</nav>

{% block main %}
{% endblock main %}

<div class="panel" data-module="Panel" id="tags" data-overlapping="true" data-load="{% url tags %}">
	<div class="inner-panel">

	</div>
</div>

<div class="panel" data-module="Panel" id="about" data-overlapping="true">
	<div class="inner-panel">
		<h2>What is this?</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<h2>Cool things I used</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<h2>Who did this?</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>

</body>
</html>