<table class="archive">
	<thead>
		<tr>
			<th scope="col">Monday</th>
			<th scope="col">Tuesday</th>
			<th scope="col">Wednesday</th>
			<th scope="col">Thursday</th>
			<th scope="col">Friday</th>
			<th scope="col">Saturday</th>
			<th scope="col">Sunday</th>
		</tr>
	</thead>
	<tbody>
	{% for week in calendar %}
		<tr>
		{% for d in week %}{% with d.picture as picture %}
			{% if d.day %}
				{% if picture %}
				<td><div class="item">
					<span class="day">{{ d.day }}</span>
					{% if picture.thumb %}
					<img src="{{ picture.thumb }}" width="120" height="90">
					{% endif %}
					<a href="{{ picture.get_absolute_url }}">
						<span>{{ picture.title }}</span>
					</a>

					{% if picture.is_video %}
					<span class="date"><i class="icon-facetime-video"></i></span>
					{% endif %}
				</div></td>
				{% else %}
				<td class="empty"><div class="item">
					<span class="day">{{ d.day }}</span>
				</div></td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endwith %}{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>