{% extends "base.html" %}

{% load apod_tags %}

{% block meta %}
{% if picture.current_tag %}
<link rel="canonical" href="{% abs_url picture.get_canonical_url %}">
{% endif %}
{% endblock meta %}

{% block title %}{{ picture }} - {{ block.super }}{% endblock %}

{# Page title #}

{% block page_title %}
	{% if picture.current_tag %}
		<a href="{{ picture.current_tag.get_absolute_url }}"><i class="icon-tag"></i> {{ picture.current_tag }} <b><b></b></b></a>
	{% endif %}
	<a href="{{ picture.get_year_url }}"><i class="icon-calendar"></i> {{ picture.publish_date.year }} <b><b></b></b></a>
	<a href="{{ picture.get_month_url }}"><i class="icon-calendar"></i> {{ picture.publish_date|date:'F' }} <b><b></b></b></a>

	{{ picture.title }}
{% endblock %}

{# Extra header block #}

{% block extra_header %}
	<div class="tools">
		<a href="{{ picture.get_apod_url }}" target="_blank" title="View original on APOD"><i class="icon-eye-open"></i></a>
		<a href="#" data-toggle="fullscreen" class="full-screen"><i class="icon-resize-full"></i><i class="icon-resize-small"></i></a>
	</div>
{% endblock extra_header %}

{# Main block #}

{% block main %}

	{# Viewport #}

	<div class="site-page viewport" data-module="Viewport">
		{# Image #}

		{% if picture.media_type == "IM" %}
		<div class="outer-viewport">
			<div class="inner-viewport">
			{% if picture.image %}
				<img src="{{ picture.image.url }}" width="{{ picture.image.width }}" height="{{ picture.image.height }}" style="max-width:{{ picture.image.width }}px;max-height:{{ picture.image.height }}px" class="picture">
			{% else %}
				<p data-url="{{ picture.get_json_url }}" class="picture">
					I am downloading and processing this picture from APOD. Please trying again in a minute...
				</p>
			{% endif %}
			</div>
		</div>
		{% endif %}

		{# Videos #}

		{% if picture.media_type == "YT" %}
		<iframe class="youtube" type="text/html" src="http://www.youtube.com/embed/{{ picture.video_id }}?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autohide=1&amp;wmode=opaque&amp;origin=apod.dev&amp;enablejsapi=1" frameborder="0"></iframe>
		{% endif %}

		{% if picture.media_type == "VI" %}
		<iframe class="vimeo" src="http://player.vimeo.com/video/{{ picture.video_id }}?title=0&amp;byline=0&amp;portrait=0" frameborder="0"></iframe>
		{% endif %}

		{# Unknown #}

		{% if picture.media_type == 'UN' %}
		<p class="error">
			<i class="icon-eye-close"></i>
			Unknown media type. Please check <a href="{{ picture.get_apod_url }}" target="_blank">the original</a> on APOD.
		</p>
		{% endif %}
	</div>

	{# Details panel #}

	<div class="panel" data-module="Panel" id="details">
		<div class="inner-panel">
			<section class="copy">
				<h2>
					<i class="icon-question-sign"></i> Explanation
					<a href="{{ picture.get_apod_url }}" target="_blank" class="action"> <i class="icon-eye-open"></i> View original on APOD</a>
				</h2>
				{% if picture.explanation %}
				<p>{{ picture.explanation|apod_html|safe }}</p>
				{% else %}
				<p>The explanation text could not be retrieved from the original APOD page. Please check <a href="{{ picture.get_apod_url }}" target="_blank">the original</a> for full details.</p>
				{% endif %}
			</section>

			<section>
				<h2>&copy; Credits and copyright</h2>
				{% if picture.credits %}
				<p>{{ picture.credits|apod_html|safe }}</p>
				{% else %}
				<p>Credits and copyright information could not be retrieved from the original APOD page. Please check <a href="{{ picture.get_apod_url }}" target="_blank">the original</a> for full details.</p>
				{% endif %}
			</section>

			<section>
				<h2><i class="icon-tags"></i> Tags</h2>
				<p class="tags">
					{% for tag in  picture.tags.all %}
					<a href="{{ tag.get_absolute_url }}"><i class="icon-tag"></i> {{ tag }}</a>
					{% empty %}
					<p>No tags set for this picture.</p>
					{% endfor %}
				</p>
			</section>
		</div>
	</div>

{% endblock main %}


{# Extra navigation options #}

{% block extra_nav %}
	<p class="date">
		<span class="day">{{ picture.publish_date.day }}</span>
		<span class="month"><a href="{{ picture.get_month_url }}">{{ picture.publish_date|date:'b' }}</a></span>
		<span class="year"><a href="{{ picture.get_year_url }}">{{ picture.publish_date.year }}</a></span>
	</p>

	<div class="nav"><p>
		{% with picture.previous as previous %}{% if previous %}
		<a href="{{ previous.get_absolute_url }}" class="prev">
			<i class="icon-chevron-left"></i>
			<span class="preview"><span>
				<i class="icon-{{ previous.is_video|yesno:"facetime-video,camera" }}"></i> {{ previous.title }}
				{% if previous.thumb %}
				<img src="{{ previous.thumb }}" width="120" height="90">
				{% endif %}
			</span></span>
		</a>
		{% else %}
		<span class="disabled"><i class="icon-chevron-left"></i></span>
		{% endif %}{% endwith %}
		{% with picture.next as next %}{% if next %}
		<a href="{{ next.get_absolute_url }}" class="next">
			<i class="icon-chevron-right"></i>
			<span class="preview"><span>
				<i class="icon-{{ next.is_video|yesno:"facetime-video,camera" }}"></i> {{ next.title }}
				{% if next.thumb %}
				<img src="{{ next.thumb }}" width="120" height="90">
				{% endif %}
			</span></span>
		</a>
		{% else %}
		<span class="disabled"><i class="icon-chevron-right"></i></span>
		{% endif %}{% endwith %}
	</p></div>

	<ul>
		<li data-toggle="details"><a href="#details">
			<i class="icon-list"></i>
			Details
			<b><b></b></b>
		</a></li>
	</ul>
{% endblock extra_nav %}
