{% extends "page.html" %}

{% load url from future %}

{% load apod_tags %}

{% block page_title %}
	<i class="icon-calendar"></i> {{ year }} ({{ picture_count }} picture{{ picture_count|pluralize }})
{% endblock page_title %}

{% block page %}

	{% comment %}<div class="pagination months">
		<h3>Yearly archives:</h3>
		<ul>
		{% for y in year_range %}
		<li>
			{% if y.year == year %}
			<strong>{{ y.year }}</strong>
			{% else %}
			<a href="{% url 'year' y.year %}">{{ y.year }}</a>
			{% endif %}
		</li>
		{% endfor %}
		</ul>
	</div>{% endcomment %}

	{% for month in calendars %}
	<h2><span>{{ month.label }}</span></h2>
	{% with month.calendar as calendar %}
	{% include 'calendar.html' %}
	{% endwith %}
	{% endfor %}

{% endblock page %}

{% block extra_nav %}
	<p class="date">
		<span class="year">{{ year }}</span>
	</p>

	<div class="nav"><p>
		{% if previous_year %}
		<a class="prev" href="{% url 'year' previous_year.year %}">
			<i class="icon-chevron-left"></i>

			<span class="preview"><span class="calendar year">
				<i class="icon-calendar"></i> {{ previous_year|date:'Y' }}
			</span></span>
		</a>
		{% else %}
		<span class="disabled"><i class="icon-chevron-left"></i></span>
		{% endif %}

		{% if next_year %}
		<a class="next" href="{% url 'year' next_year.year %}">
			<i class="icon-chevron-right"></i>

			<span class="preview"><span class="calendar year">
				<i class="icon-calendar"></i> {{ next_year|date:'Y' }}
			</span></span>
		</a>
		{% else %}
		<span class="disabled"><i class="icon-chevron-right"></i></span>
		{% endif %}
	</p></div>
{% endblock extra_nav %}
