{% extends "base.html" %}

{% load thumbnail %}

{% block page_title %}Archive{% endblock page_title %}

{% block main %}
<p>
	{% if pictures.has_previous %}
	<a href="{% url archive_page pictures.previous_page_number %}">Previous</a>
	{% endif %}
	{% if pictures.has_next %}
	<a href="{% url archive_page pictures.next_page_number %}">Next</a>
	{% endif %}
</p>
<table>
{% for picture in pictures.object_list %}
<tr>
	<td>
		{% if picture.image %}
		{% thumbnail picture.image "200x100" crop="center" as im %}
		<a href="{{ picture.get_absolute_url }}"><img src="{{ im.url }}"></a>
		{% endthumbnail %}
		{% else %}
		No image
		{% endif %}
	</td>
	<td>
		<h3><a href="{{ picture.get_absolute_url }}">{{ picture.title }}</a></h3>
		Published on: {{ picture.publish_date }}<br />
		<a href="{{ picture.get_apod_url }}" target="_blank">View on APOD</a>
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}