<table class="calendar">
	<thead>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
	</thead>
	<tbody>
	{% for week in calendar %}
		<tr>
		{% for d in week %}{% with d.picture as picture %}
			{% if d.day %}
				{% if picture %}
				<td><div>
					{% if picture.thumb %}
					<img src="{{ picture.thumb }}" width="120" height="90">
					{% endif %}
					<span class="day">{{ d.day }}</span>
					<a href="{{ picture.get_absolute_url }}"><span>{{ picture.title }}</span></a>
				</div></td>
				{% else %}
				<td class="empty"><div>
					<span class="day">{{ d.day }}</span>
				</div></td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endwith %}{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>