<table class="calendar">
	<thead>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
	</thead>
	<tbody>
	{% for week in calendar %}
		<tr>
		{% for d in week %}{% with d.picture as picture %}
			{% if picture %}
			<td style="background-image:url({{ picture.thumb }})">
			{% else %}
			<td class="empty">
			{% endif %}
				{% if d.day %}
				<span class="day">{{ d.day }}</span>
				{% if picture %}
				<a href="{{ picture.get_absolute_url }}"><span>{{ picture.title }}</span></a>
				{% endif %}
				{% endif %}
			</td>
		{% endwith %}{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>