{% extends "base.html" %}

{% load apod_tags %}

{# Page title #}

{% block page_title %}{{ picture.title }}{% endblock %}

{# Extra navigation options #}

{% block extra_nav %}
<ul>
	{% with picture.previous as previous %}{% if previous %}
	<li><a href="{{ previous.get_absolute_url }}">&laquo; Previous</a></li>
	{% endif %}{% endwith %}
	{% with picture.next as next %}{% if next %}
	<li><a href="{{ next.get_absolute_url }}">Next &raquo;</a></li>
	{% endif %}{% endwith %}
	<li><a href="{{ picture.get_apod_url }}" target="_blank">View on APOD</a></li>
	<li><a href="#details" id="open-details">Details</a></li>
</ul>
{% endblock %}

{# Main block #}

{% block main %}

{# APOD block #}

<div id="apod" class="{{ picture.media_type }}">
	{# Image #}

	{% if picture.media_type == "IM" %}
		{% if picture.image %}
			<img src="{{ picture.image.url }}" width="{{ picture.image.width }}" height="{{ picture.image.height }}">
		{% else %}
			<p id="apod-loader" data-url="{% url image_json picture.pk %}">
				I am downloading and processing this picture from APOD. Please trying again in a minute...
			</p>
		{% endif %}
	{% endif %}

	{# Videos #}

	{% if picture.media_type == "YT" %}
		<iframe class="youtube" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{ picture.video_id }}?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autohide=1&amp;wmode=opaque&amp;origin=apod.dev&amp;enablejsapi=1" frameborder="0"></iframe>
	{% endif %}

	{% if picture.media_type == "VI" %}
		<iframe class="vimeo" src="http://player.vimeo.com/video/{{ picture.video_id }}?title=0&amp;byline=0&amp;portrait=0" width="640" height="385" frameborder="0"></iframe>
	{% endif %}
</div>

{# Details panel #}

<div class="details" id="details">
	<h2>Details</h2>

	<div class="panel">
		<p>{{ picture.publish_date.day }} <a href="{% url month picture.publish_date.year picture.publish_date.month %}">{{ picture.publish_date|date:'F' }}</a> <a href="{% url year picture.publish_date.year %}">{{ picture.publish_date.year }}</a></p>

		<h3>Credits</h3>
		<p>{{ picture.credits|safe }}</p>

		<h3>Explanation</h3>
		<p>{{ picture.explanation|apod_html|safe }}</p>

		<h3>Keywords</h3>
		<p class="tags">
			{% for keyword in  picture.keywords.all %}
			<a href="#">{{ keyword }}</a>
			{% empty %}
			<p>None set</p>
			{% endfor %}
		</p>
	</div>
</div>
{% endblock %}