{% extends "base.html" %}

{% load thumbnail %}

{% block page_title %}{{ photo.title }}{% endblock %}

{% block extra_nav %}
{% with photo.previous as previous %}{% if previous %}
<li><a href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">&laquo; Previous</a></li>
{% endif %}{% endwith %}
{% with photo.next as next %}{% if next %}
<li><a href="{{ next.get_absolute_url }}" title="{{ next.title }}">Next &raquo;</a></li>
{% endif %}{% endwith %}
<li><a href="{{ photo.get_apod_url }}" target="_blank">View on APOD</a></li>
{% endblock %}

{% block main %}
{% with photo.get_image as image %}
	{% if image %}
		{% thumbnail image "2000x2000" as img %}
		<img src="{{ img.url }}" id="large-image" width="{{ img.width }}" height="{{ img.height }}">
		{% endthumbnail %}
	{% endif %}
{% endwith %}

<article class="info">
	<header>
		<h2>Details</h2>
	</header>

	<div class="slider">
		<section>
			<h3>Explanation</h3>
			<p>{{ photo.explanation|safe }}</p>
		</section>

		<footer>
			<h3>Published</h3>
			<p><a href="#">{{ photo.publish_date|date:'F' }}</a> {{ photo.publish_date.day }} <a href="#">{{ photo.publish_date.year }}</a></p>

			<h3>Credits</h3>
			<p>{{ photo.credits|safe }}</p>

			<h3>Keywords</h3>
			<p class="tags">
				{% for keyword in  photo.keywords.all %}
				<a href="#">{{ keyword }}</a>
				{% empty %}
				<p>None set</p>
				{% endfor %}
			</p>
		</footer>
	</div>
</article>
{% endblock %}