{% extends "base.html" %}

{% load thumbnail %}

{% block page_title %}Pretty APOD - Archive{% endblock page_title %}

{% block main %}
<p>
	{% if photos.has_previous %}
	<a href="{% url page photos.previous_page_number %}">Previous</a>
	{% endif %}
	{% if photos.has_next %}
	<a href="{% url page photos.next_page_number %}">Next</a>
	{% endif %}
</p>
<table>
{% for photo in photos.object_list %}
<tr>
	<td>
		{% if photo.image %}
		{% thumbnail photo.image "200x100" crop="center" as im %}
		<a href="{{ photo.get_absolute_url }}"><img src="{{ im.url }}"></a>
		{% endthumbnail %}
		{% else %}
		No image
		{% endif %}
	</td>
	<td>
		<h3><a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a></h3>
		Published on: {{ photo.publish_date }}<br />
		<a href="{{ photo.get_apod_url }}" target="_blank">View on APOD</a>
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}