{% load thumbnail %}

<h1>Pretty APOD - Archive</h1>

<table>
{% for photo in photos %}
<tr>
	<td>
		{% if photo.image %}
		{% thumbnail photo.image "200x100" crop="center" as im %}
		<img src="{{ im.url }}">
		{% endthumbnail %}
		{% else %}
		No image
		{% endif %}
	</td>
	<td>
		<a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a><br />
		Published on: {{ photo.publish_date }}<br />
		<a href="{{ photo.get_apod_url }}" target="_blank">View on APOD</a>
	</td>
</tr>
{% endfor %}
</table>