{% extends "apod/page.html" %}

{% load apod_tags %}

{% block page_title %}&ldquo;{{ tag }}&rdquo; archive ({{ paginator.count }} picture{{ paginator.count|pluralize }}){% endblock page_title %}

{% block page %}
{% if paginator.num_pages > 1 %}
<p class="pagination">
	{% if pictures.has_previous %}
	<a href="{% url tag_page tag.slug pictures.previous_page_number %}"><i class="icon-chevron-left"></i></a>
	{% else %}
	<span><i class="icon-chevron-left"></i></span>
	{% endif %}
	{% for p in paginator.page_range %}
	{% if p == page %}
	<strong>{{ p }}</strong>
	{% else %}
	<a href="{% url tag_page tag.slug p %}">{{ p }}</a>
	{% endif %}
	{% endfor %}
	{% if pictures.has_next %}
	<a href="{% url tag_page tag.slug pictures.next_page_number %}"><i class="icon-chevron-right"></i></a>
	{% else %}
	<span><i class="icon-chevron-right"></i></span>
	{% endif %}
</p>
{% endif %}

<ul class="archive">
	{% for picture in pictures.object_list %}
	<li class="item">
		{% if picture.thumb %}
			<img src="{{ picture.thumb }}" width="120" height="90">
		{% endif %}
		<a href="{{ picture.get_absolute_url }}" class="item">
			<span>{{ picture.title }}</span>
		</a>
		<span class="date">{{ picture.publish_date|date:"d b Y" }}</span>
	</li>
	{% endfor %}
</ul>
{% endblock page %}