{% extends "apod/page.html" %}

{% load apod_tags %}

{% block page_title %}{{ archive_label }}{% endblock page_title %}

{% block page %}

<div class="pagination months">
	<h3>Yearly archives:</h3>
	<ul>
	{% for y in year_range %}
	<li>
		{% if y.year == year %}
		<strong>{{ y.year }}</strong>
		{% else %}
		<a href="{% url year y.year %}">{{ y.year }}</a>
		{% endif %}
	</li>
	{% endfor %}
	</ul>
</div>

{% for month in calendars %}
<h2>{{ month.label }}</h2>
{% with month.calendar as calendar %}
{% include 'apod/calendar.html' %}
{% endwith %}
{% endfor %}
{% endblock page %}