{% extends "layouts/page.html" %}

{% block page_title %}{% block page_heading %}March 2012{% endblock %}{% endblock %}

{% block page %}

	<table class="archive">
		<thead>
			<tr>
				<th scope="col">Monday</th>
				<th scope="col">Tuesday</th>
				<th scope="col">Wednesday</th>
				<th scope="col">Thursday</th>
				<th scope="col">Friday</th>
				<th scope="col">Saturday</th>
				<th scope="col">Sunday</th>
			</tr>
		</thead>
		<tbody>

			<tr>

				<td>
					<div class="item" data-module="imageloader" data-top="10px" data-left="10px">
						<span class="day">1</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/1/">
							<span>Introducing Comet ISON</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">2</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/2/">
							<span>An Ancient Stream Bank on Mars</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">3</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/3/">
							<span>Goat Aurora Over Greenland</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">4</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/4/">
							<span>NGC 7293: The Helix Nebula</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">5</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/5/">
							<span>Aurora and Fireball Over Norway</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">6</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/6/">
							<span>At the Heart of Orion</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">7</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/7/">
							<span>The Same Color Illusion</span>
						</a>

					</div>
				</td>

			</tr>

			<tr>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">8</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/8/">
							<span>Spherical Planetary Nebula Abell 39</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">9</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/9/">
							<span>Simeis 147: Supernova Remnant</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">10</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/10/">
							<span>Nauset Light Star Trails</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">11</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/11/">
							<span>Aurorae over Planet Earth</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">12</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/12/">
							<span>Pan-STARRS and Nebulae</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">13</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/13/">
							<span>Galaxies, Stars, and Dust</span>
						</a>

					</div>
				</td>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">14</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/14/">
							<span>The Hubble Extreme Deep Field</span>
						</a>

					</div>
				</td>

			</tr>

			<tr>

				<td>
					<div class="item" data-module="imageloader">
						<span class="day">15</span>

						<img width="120" height="90" src="/media/thumb.jpg">

						<a href="/2012/10/15/">
							<span>Black Sun and Inverted Starfield</span>
						</a>

					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">16</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">17</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">18</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">19</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">20</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">21</span>
					</div>
				</td>

			</tr>

			<tr>

				<td class="empty">
					<div class="item">
						<span class="day">22</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">23</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">24</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">25</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">26</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">27</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">28</span>
					</div>
				</td>

			</tr>

			<tr>

				<td class="empty">
					<div class="item">
						<span class="day">29</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">30</span>
					</div>
				</td>

				<td class="empty">
					<div class="item">
						<span class="day">31</span>
					</div>
				</td>

				<td></td>

				<td></td>

				<td></td>

				<td></td>

			</tr>

		</tbody>
	</table>

{% endblock page %}

{% block extra_nav %}
	<p class="date">
		<span class="month">{% now "b" %}</span>
		<span class="year"><a href="year.html">{% now "Y" %}</a></span>
	</p>

	<div class="nav"><p>
		<a class="prev" href="high_image.html">
			<i class="icon-chevron-left"></i>

			<span class="preview"><span class="calendar month">
				<i class="icon-calendar"></i> Sep 2012
			</span></span>
		</a>

		<a class="next" href="missing_image.html">
			<i class="icon-chevron-right"></i>

			<span class="preview"><span class="calendar month">
				<i class="icon-calendar"></i> Nov 2012
			</span></span>
		</a>
	</p></div>
{% endblock extra_nav %}
