{% extends "layouts/page.html" %}

{% block page_title %}{% block page_heading %}March 2012{% endblock %}{% endblock %}

{% block page %}

	<table class="archive">
		<thead>
			<tr>
				<th scope="col">Monday</th>
				<th scope="col">Tuesday</th>
				<th scope="col">Wednesday</th>
				<th scope="col">Thursday</th>
				<th scope="col">Friday</th>
				<th scope="col">Saturday</th>
				<th scope="col">Sunday</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="item">
						<span class="day">1</span>
						<a href="/2012/3/1/">
							<span>Multicolor Venus</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">2</span>
						<a href="/2012/3/2/">
							<span>Jupiter Unplugged</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">3</span>
						<a href="/2012/3/3/">
							<span>Another Tail for Comet Garradd</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">4</span>
						<img width="120" height="90" src="/assets/media/cache/91/68/9168273f9a1285709f981ab7de8d3762.jpg">
						<a href="/2012/3/4/">
							<span>Warped Spiral Galaxy ESO 510-13</span>
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="item">
						<span class="day">5</span>
						<img width="120" height="90" src="http://img.youtube.com/vi/FG0fTKAqZ5g/2.jpg">
						<a href="/2012/3/5/">
							<span>Flying Over the Earth at Night</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">6</span>
						<img width="120" height="90" src="/assets/media/cache/8f/98/8f983c47c114cbcb1dcede338b5418c2.jpg">
						<a href="/2012/3/6/">
							<span>NGC 2170: Celestial Still Life</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">7</span>
						<a href="/2012/3/7/">
							<span>Conjunction Over Reunion Island</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">8</span>
						<a href="/2012/3/8/">
							<span>The Seagull Nebula</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">9</span>
						<a href="/2012/3/9/">
							<span>NGC 1579: Trifid of the North</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">10</span>
						<a href="/2012/3/10/">
							<span>Lick Observatory Moonrise</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">11</span>
						<img width="120" height="90" src="/assets/media/cache/3b/7c/3b7cf0e5d647c2a83b102ecd0d17daf5.jpg">
						<a href="/2012/3/11/">
							<span>The Sombrero Galaxy in Infrared</span>
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="item">
						<span class="day">12</span>
						<a href="/2012/3/12/">
							<span>The Scale of the Universe - Interactive</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">13</span>
						<img width="120" height="90" src="/assets/media/cache/2c/5b/2c5bbc37da25f81705a46750ba8c6443.jpg">
						<a href="/2012/3/13/">
							<span>The M81 Galaxy Group Through the Integrated Flux Nebula</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">14</span>
						<img width="120" height="90" src="/assets/media/cache/4f/01/4f01f1360702b6f7299b6fd69c75db3b.jpg">
						<a href="/2012/3/14/">
							<span>Angry Sun Erupting</span>
						</a>
					</div>
				</td>
				<td>
					<div class="item">
						<span class="day">15</span>
						<img width="120" height="90" src="/assets/media/cache/d0/a7/d0a7f94b3165cde64d31cc00f91202ac.jpg">
						<a href="/2012/3/15/">
							<span>Solar Flare in the Gamma-ray Sky</span>
						</a>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">16</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">17</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">18</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="empty">
					<div class="item">
						<span class="day">19</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">20</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">21</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">22</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">23</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">24</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">25</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="empty">
					<div class="item">
						<span class="day">26</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">27</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">28</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">29</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">30</span>
					</div>
				</td>
				<td class="empty">
					<div class="item">
						<span class="day">31</span>
					</div>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>

{% endblock page %}

{% block extra_nav %}
	<p class="date">
		<span class="month">{% now "b" %}</span>
		<span class="year"><a href="year.html">{% now "Y" %}</a></span>
	</p>

	<div class="nav"><p>
		<a class="prev" href="high_image.html">
			<i class="icon-chevron-left"></i>

			<span class="preview"><span class="calendar month">
				<i class="icon-calendar"></i> Sep 2012
			</span></span>
		</a>

		<a class="next" href="missing_image.html">
			<i class="icon-chevron-right"></i>

			<span class="preview"><span class="calendar month">
				<i class="icon-calendar"></i> Nov 2012
			</span></span>
		</a>
	</p></div>
{% endblock extra_nav %}